<!DOCTYPE html>
<html>
<html lang="en">


  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!script type="text/javascript" src="http://latex.codecogs.com/latexit.js"><!/script>
	
    <title>Organic Chemistry</title>


  </head>



<style>

.title {
  background-color:#b4d09a;
  color: #018268;
  font-size: 300%;
  text-shadow: 1px 1px 0px #000000;
}

.subtitles {
  background-color:#b4d09a;
  color: #018268;
  font-size: 200%;
  margin:20px;
}
.links {
 background-color: #b4d09a;
 color: black;
 font-size: 120%;
}

.banner {
  height: 100vh;
  background-color: #b4d09a;
}

.tables {
 color:#018268;
 background-color: #252828;
 text-shadow: 2px 2px 0px #000000;
 margin: 10px;
}

.paragraphs {
 color: #000000;
 font-size:100%;
 margin: 5px;
 padding: 5px;
}


.lists {
  color: #000000;
  font-size:100%;
  position: center;
}

table {
  border: 3px solid black;
}

th,tr,td {
  border: 1px solid black;
  padding: 5px;
}

.dropbutton {
  background-color: #b4d09a;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #b4d09a;
  min-width: 160px;
  box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-bottom: 5px solid #000000;
}

.dropdown:hover .dropdowncontent {
  display: block;
}



.latex {
  background-color: #ffffff;
  margin: 5px;
  padding: 5px;

}


.hline { 
  width:100%; 
  height:5px; 
  background: #000000;
 }

.models {
  margin:10px;
}

#toc_container {
	background: #b4cb9a none repeat scroll 0 0;
	border: 1px solid #000000;
        display: table;
        font-size: 95%;
        margin-bottom: 1em;
        padding: 15px;
        width: auto;
	margin:8px;
}

.toc_title {
        font-weight: 700;
        text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
        list-style: outside none none !important;
}



</style>


<body style="background-color:#b4d09a;">


	<div class="title">
		<center>Organic Chemistry</center>
	</div>

	<div class='subtitles' style='font-size:100%;'>
		<div class='dropdown'>
			<button class='dropbutton'>Navigate</button>
				<div class='dropdowncontent'>
					<center><a class='links' href='{% url 'app-home' %}'>Return Home</a><center>
						<br>
					<center><a class='links' href='{% url 'forum' %}'>Go to Forum</a></center>
				</div>
		</div>
	</div>

<div>

	<p class='paragraphs'>On this page you can practise naming molecules from organic chemistry. The section will be periodically updated as 
	the semester goes on (September 2019)</p>

	<p class='paragraphs'>Keep in mind that the answers will  require perfect grammatical syntax in order to be correct. Here are some examples:</p>

		<ul class='lists'>
			<li>2,3-dimethylhexane would be considered correct, but 2,3 dimethylhexane would not, since it is missing the - </li>
			<li>pentan-1-ene would be correct, but Pentan-1-ene would not since it contains a captial letter </li>
			<li> 3-ethylnonane is correct, but 3-ethyl nonane is not because it contains a space </li>
		</ul>

	<p class='paragraphs'><center>Legend for color coded atoms</center></p>
		<center>
			<p style='color:blue;padding:5px;'>Hydrogen = Blue</p>
			<p style='color:black;padding:5px;'>Carbon = Black</p>
			<p style='color:grey;padding:5px;'>Oxygen = Grey</p>
		</center>

</div>


	<div id="toc_container">
		<p class="toc_title">Contents</p>
			<ul class="toc_list">
  				<li><a href="#topic1">1. Alkanes, Alkenes, Alkynes, Alcohols and Cyclo Alkanes</a></li>
				<li><a href="#topic2">2. Ethers, Aldehydes and Ketones</a></li>
			</ul>
	</div>

<br><br><br>

<div>
	<h4 id='topic1'><center> Alkanes, Alkenes, Alkynes, Alcohols and Cyclo Alkanes</center></h4>


	<div class='models'>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 1</p></center>
	<br>
    <center><input id="q1"></center>
    <center><button type="button" onclick="q1()">Submit</button>
    <center><p id="a1"></p></center>

<br>
	<center><img src="https://i.ibb.co/7Kj9twF/2-2-diethylbutan-1-3-diol.png" alt="2-2-diethylbutan-1-3-diol" height=400 width=650  border='0'></center>
<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 2</p></center>
	<br>
    <center><input id="q2"></center>
    <center><button type="button" onclick="q2()">Submit</button>
    <center><p id="a2"></p></center>
<br>
	<center><img src="https://i.ibb.co/sJ0DVmN/2-3-6-trimethyloctane.png" alt="2-3-6-trimethyloctane" height=400 width=650 border="0"></center>
<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 3</p></center>
	<br>
    <center><input id="q3"></center>
    <center><button type="button" onclick="q3()">Submit</button>
    <center><p id="a3"></p></center>
<br>
	<center><img src="https://i.ibb.co/8NtVh8n/2-methylbutan-1-3-diene.png" alt="2-methylbutan-1-3-diene" height=400 width=650 border="0"></center>
<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 4</p></center>
	<br>
    <center><input id="q4"></center>
    <center><button type="button" onclick="q4()">Submit</button>
    <center><p id="a4"></p></center>
<br>
	<center><img src="https://i.ibb.co/5MC6n3k/2-methylcyclobutene.png" alt="2-methylcyclobutene" height=400 width=650 border="0"></center>
<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 5</p></center>
	<br>
    <center><input id="q5"></center>
    <center><button type="button" onclick="q5()">Submit</button>
    <center><p id="a5"></p></center>
<br>
	<center><img src="https://i.ibb.co/WWyVnvs/2-methylhex-3-ene.png" alt="2-methylhex-3-ene" height=400 width=650 border="0"></center>
<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 6</p></center>
	<br>
    <center><input id="q6"></center>
    <center><button type="button" onclick="q6()">Submit</button>
    <center><p id="a6"></p></center>
<br>
	<center><img src="https://i.ibb.co/wywgJPT/2-propylpentan-1-ol.png" alt="2-propylpentan-1-ol" height=400 width=650 border="0"></center>
<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 7</p></center>
	<br>
    <center><input id="q7"></center>
    <center><button type="button" onclick="q7()">Submit</button>
    <center><p id="a7"></p></center>
<br>
	<center><img src="https://i.ibb.co/mFshjy6/5-ethyl-3-methylheptan-2-ol.png" alt="5-ethyl-3-methylheptan-2-ol" height=400 width=650 border="0"></center>
<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 8</p></center>
	<br>
    <center><input id="q8"></center>
    <center><button type="button" onclick="q8()">Submit</button>
    <center><p id="a8"></p></center>
<br>
	<center><img src="https://i.ibb.co/zVVVBFx/methylcyclohexane.png" alt="methylcyclohexane" height=400 width=650 border="0"></center>
<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 9</p></center>
	<br>
    <center><input id="q9"></center>
    <center><button type="button" onclick="q9()">Submit</button>
    <center><p id="a9"></p></center>
<br>
	<center><img src="https://i.ibb.co/VVJQq5L/pent-1-3-diyne.png" alt="pent-1-3-diyne" height=400 width=650 border="0"></center>
<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 10</p></center>
	<br>
    <center><input id="q10"></center>
    <center><button type="button" onclick="q10()">Submit</button>
    <center><p id="a10"></p></center>
<br>
	<center><img src="https://i.ibb.co/jzKF3xX/propene.png" alt="propene" height=400 width=650 border="0"></center>


</div>



</div>


<br><br><br>

<div>
	<h4 id='topic2'><center>Ethers, Aldehydes and Ketones</center></h4>

<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 11</p></center>
	<br>
    <center><input id="q11"></center>
    <center><button type="button" onclick="q11()">Submit</button>
    <center><p id="a11"></p></center>
<br>
	<center><img src="https://i.ibb.co/3WGKR8X/3-methylpentanal.png" alt="3-methylpentanal" height=400 width=650 border="0"></center>

<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 12</p></center>
	<br>
    <center><input id="q12"></center>
    <center><button type="button" onclick="q12()">Submit</button>
    <center><p id="a12"></p></center>
<br>
	<center><img src="https://i.ibb.co/qgCxxv7/4-5-dimethylnonan-3-one.png" alt="4-5-dimethylnonan-3-one" height=400 width=650 border="0"></center>


<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 13</p></center>
	<br>
    <center><input id="q13"></center>
    <center><button type="button" onclick="q13()">Submit</button>
    <center><p id="a13"></p></center>
<br>
	<center><img src="https://i.ibb.co/zsB22hs/1-ethoxypropane.png" alt="1-ethoxypropane" height=400 width=650 border="0"></center>


<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 14</p></center>
	<br>
    <center><input id="q14"></center>
    <center><button type="button" onclick="q14()">Submit</button>
    <center><p id="a14"></p></center>
<br>
	<center><img src="https://i.ibb.co/tQT05Cb/4-methylhexan-3-one.png" alt="4-methylhexan-3-one" height=400 width=650 border="0"></center>


<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 15</p></center>
	<br>
    <center><input id="q15"></center>
    <center><button type="button" onclick="q15()">Submit</button>
    <center><p id="a15"></p></center>
<br>
	<center><img src="https://i.ibb.co/K2THn4h/2-ethylbutanal.png" alt="2-ethylbutanal" height=400 width=650 border="0"></center>


<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 16</p></center>
	<br>
    <center><input id="q16"></center>
    <center><button type="button" onclick="q16()">Submit</button>
    <center><p id="a16"></p></center>
<br>
	<center><img src="https://i.ibb.co/2cFhtjX/2-ethoxybutane.png" alt="2-ethoxybutane" height=400 width=650 border="0"></center>


<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 17</p></center>
	<br>
    <center><input id="q17"></center>
    <center><button type="button" onclick="q17()">Submit</button>
    <center><p id="a17"></p></center>
<br>
	<center><img src="https://i.ibb.co/bg3JBPW/4-methylpentan-2-one.png" alt="4-methylpentan-2-one" height=400 width=650 border="0"></center>


<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 18</p></center>
	<br>
    <center><input id="q18"></center>
    <center><button type="button" onclick="q18()">Submit</button>
    <center><p id="a18"></p></center>
<br>
	<center><img src="https://i.ibb.co/DGx18qk/cyclohexanal.png" alt="cyclohexanal" height=400 width=650 border="0"></center>


<br>

	<div class='hline'></div>

	<center><p class='paragraphs'>Figure 19</p></center>
	<br>
    <center><input id="q19"></center>
    <center><button type="button" onclick="q19()">Submit</button>
    <center><p id="a19"></p></center>
<br>
	<center><img src="https://i.ibb.co/b21vD80/methylpropanone.png" alt="methylpropanone" height=400 width=650 border="0"></center>




</div>

</body>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>

function q1(){
    var ans = document.getElementById("q1").value;
    if(ans == '2,2-diethylbutan-1,3-diol'){
        document.getElementById('a1').innerHTML = 'Correct!';
    }else{
        document.getElementById('a1').innerHTML = 'Incorrect';
    }
}

function q2(){
    var ans = document.getElementById("q2").value;
    if(ans == '2,3,6-trimethyloctane'){
        document.getElementById('a2').innerHTML = 'Correct!';
    }else{
        document.getElementById('a2').innerHTML = 'Incorrect';
    }
}

function q3(){
    var ans = document.getElementById("q3").value;
    if(ans == '2-methylbut-1,3-diene'){
        document.getElementById('a3').innerHTML = 'Correct!';
    }else{
        document.getElementById('a3').innerHTML = 'Incorrect';
    }
}

function q4(){
    var ans = document.getElementById("q4").value;
    if(ans == '2-methylcyclobutene'){
        document.getElementById('a4').innerHTML = 'Correct!';
    }else{
        document.getElementById('a4').innerHTML = 'Incorrect';
    }
}

function q5(){
    var ans = document.getElementById("q5").value;
    if(ans == '2-methylhex-3-ene'){
        document.getElementById('a5').innerHTML = 'Correct!';
    }else{
        document.getElementById('a5').innerHTML = 'Incorrect';
    }
}

function q6(){
    var ans = document.getElementById("q6").value;
    if(ans == '2-propylpentan-1-ol'){
        document.getElementById('a6').innerHTML = 'Correct!';
    }else{
        document.getElementById('a6').innerHTML = 'Incorrect';
    }
}

function q7(){
    var ans = document.getElementById("q7").value;
    if(ans == '5-ethyl-3-methylheptan-2-ol'){
        document.getElementById('a7').innerHTML = 'Correct!';
    }else{
        document.getElementById('a7').innerHTML = 'Incorrect';
    }
}

function q8(){
    var ans = document.getElementById("q8").value;
    if(ans == 'methylcyclohexane'){
        document.getElementById('a8').innerHTML = 'Correct!';
    }else{
        document.getElementById('a8').innerHTML = 'Incorrect';
    }
}

function q9(){
    var ans = document.getElementById("q9").value;
    if(ans == 'pent-1,3-diyne'){
        document.getElementById('a9').innerHTML = 'Correct!';
    }else{
        document.getElementById('a9').innerHTML = 'Incorrect';
    }
}

function q10(){
    var ans = document.getElementById("q10").value;
    if(ans == 'propene'){
        document.getElementById('a10').innerHTML = 'Correct!';
    }else{
        document.getElementById('a10').innerHTML = 'Incorrect';
    }
}

function q11(){
    var ans = document.getElementById("q11").value;
    if(ans == '3-methylpentanal'){
        document.getElementById('a11').innerHTML = 'Correct!';
    }else{
        document.getElementById('a11').innerHTML = 'Incorrect';
    }
}

function q12(){
    var ans = document.getElementById("q12").value;
    if(ans == '4,5-dimethylnonan-3-one'){
        document.getElementById('a12').innerHTML = 'Correct!';
    }else{
        document.getElementById('a12').innerHTML = 'Incorrect';
    }
}

function q13(){
    var ans = document.getElementById("q13").value;
    if(ans == '1-ethoxypropane'){
        document.getElementById('a13').innerHTML = 'Correct!';
    }else{
        document.getElementById('a13').innerHTML = 'Incorrect';
    }
}

function q14(){
    var ans = document.getElementById("q14").value;
    if(ans == '4-methylhexan-3-one'){
        document.getElementById('a14').innerHTML = 'Correct!';
    }else{
        document.getElementById('a14').innerHTML = 'Incorrect';
    }
}

function q15(){
    var ans = document.getElementById("q15").value;
    if(ans == '2-ethylbutanal'){
        document.getElementById('a15').innerHTML = 'Correct!';
    }else{
        document.getElementById('a15').innerHTML = 'Incorrect';
    }
}

function q16(){
    var ans = document.getElementById("q16").value;
    if(ans == '2-ethoxybutane'){
        document.getElementById('a16').innerHTML = 'Correct!';
    }else{
        document.getElementById('a16').innerHTML = 'Incorrect';
    }
}

function q17(){
    var ans = document.getElementById("q17").value;
    if(ans == '4-methylpentan-2-one'){
        document.getElementById('a17').innerHTML = 'Correct!';
    }else{
        document.getElementById('a17').innerHTML = 'Incorrect';
    }
}

function q18(){
    var ans = document.getElementById("q18").value;
    if(ans == 'cyclohexanal'){
        document.getElementById('a18').innerHTML = 'Correct!';
    }else{
        document.getElementById('a18').innerHTML = 'Incorrect';
    }
}

function q19(){
    var ans = document.getElementById("q19").value;
    if(ans == 'methylpropanone'){
        document.getElementById('a19').innerHTML = 'Correct!';
    }else{
        document.getElementById('a19').innerHTML = 'Incorrect';
    }
}

</script>



</html>