<!DOCTYPE html>
<html>

<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
    <title>Profile</title>
  </head>

<style>
.info {
  padding:10px;
  background-color: #1e522c;
  color: #000000;
}

.username {
  padding:10px;
  font-size:200%;
  background-color: #1e522c;
  color: #018268;
  text-shadow: 2px 2px 0px #000000;
}

.picture {
  margin:10px;
}

.banner {
  height: 100vh;
  background-color: #1e522c;
}

.return_home {
  font-size: 120%;
  margin-left:20px;
}


</style>

<body>

	<div class='banner'>
	
	<a class='return_home' href='{% url 'app-home' %}'>Return Home</a>	

	<div class='username'>{{ user.username }}</div>


	<img class='picture' src='{{ user.profile.image.url }}'>

	<p class='info'>User email: {{ user.email }}<p>
	

	<div class='info'>
		<form method='POST' enctype='multipart/form-data'>
		{% csrf_token %}
			<fieldset>
				<legend>Update Information</legend>
					{{ u_form }}
					<br>
					{{ p_form }}
			</fieldset>
			<br>
			<button type='submit'>Update Profile Information</button>
		</form>

	</div>

	</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>