<!DOCTYPE html>
<html>

<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
    <title>Register</title>
  </head>

<style>


.banner {
  height: 100vh;
  background-color: #1e522c;
}

.title {
  background-color:#1e3f2c;
  color: #018268;
  font-size: 300%;
  text-shadow: 2px 2px 0px #000000;
}

.info {
  color: #000000;
  padding: 5px;
}


</style>

<body>


	<div class='banner'>

	<div>
		<form class='info' method='POST'>
			{% csrf_token %}
			<fieldset>
				<legend class='title'><left>Register Account</left></legend>
				{{ form.as_p }}
			</fieldset>
			<div>
				<button type='submit'>Sign Up</button>
			</div>
		</form>
		<div>
			<small class='text-muted'>
				Already have an account? <a class="ml-2" href='{% url 'login' %}'>Sign In</a>
				<br>
				<a href='{% url 'app-home' %}'>Return Home</a>
			</small>
		</div>
	</div>
</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>