<!DOCTYPE html>
<html>

<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
    <title>Abstract Algebra</title>
  </head>

<style>

.toplinks {
	float:right;
	padding:10px;
	margin:8px;
}

.maintitle {
	font-size:200%;
	text-align:left;
	padding:8px;
	margin:8px;
}

#toc_container {
	background: #b4cb9a none repeat scroll 0 0;
	border: 1px solid #000000;
        display: table;
        font-size: 95%;
        margin-bottom: 1em;
        padding: 15px;
        width: auto;
	margin:8px;
}

.toc_title {
        font-weight: 700;
        text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
        list-style: outside none none !important;
}

.introduction {
	margin: 10px;
	overflow-wrap: break-word;
}

.content {
	margin: 8px;
}

hr {
    border: 0;
    height: 2px;
    margin:2px;
    position:relative;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4d09a', endColorstr='#b4d09a;',GradientType=1 ); /* IE6-9 */
}

hr:before {
    content: "";
    display: block;
    border-top: solid 1px #b4d09a;
    width: 100%;
    height: 1px;
    top: 50%;
    z-index: 1;
}

.latex {
  background-color: #ffffff;
  margin: 8px;
  padding: 8px;
}

.paragraphs {
	font-size:100%;
	margin:8px;
	padding:8px;
	overflow-wrap: break-word;
}


</style>

<body style='background-color:#b4d09a;'>



	<a class='toplinks' href='{% url 'app-home' %}'>Return Home</a>
	<a class='toplinks' href='{% url 'forum' %}'>Go to Forum</a>

	<h1 class='maintitle'>Abstract Algebra</h1>

	<hr>

	<div id="toc_container">
		<p class="toc_title">Contents</p>
			<ul class="toc_list">
  				<li><a href="#topic1">1. Equivalence Relations</a></li>
				<li><a href="#topic2">2. Groups</a></li>
				<li><a href="#topic3">3. Permutation and Symmetric Groups</a></li>
				<li><a href="#topic4">4. Dihedral Groups</a></li>
				<li><a href="#topic5">5. Cosets</a></li>
				<li><a href="#topic6">6. Prime Numbers, Groups and Euler's Theorem</a></li>
				<li><a href="#topic7">7. Isomorphisms</a></li>
        			<li><a href="#topic8">8. Direct Products</a></li>
				<li><a href="#topic9">9. Normal Subgroups and Factor Groups</a></li>
				<li><a href="#topic10">10. Simple Groups and Homomorphisms</a></li>
				<li><a href="#topic11">11. Isomorphism Theorems</a></li>
				<li><a href="#topic12">12. Rings and Fields</a></li>
			</ul>
	</div>

	<div class='introduction'>

	</div>

	<div class='content'>

		<h4 id='topic1'><center>Equivalence Relations</center></h4>

			<hr>

			<p class='paragraphs'>Let A and B be sets. Then a <b>relation</b> of A to B is any subset</p>

				<div lang='latex'>
					\mathcal{R} \subseteq A \times B
				</div>

		<p class='paragraphs'>For example:</p>

				<div lang='latex'>
					A = \{-1, 0, 1\} \\ \\
					\phantom{aaa} B = \{apple, orange\} \\ \\
					\phantom{aaa} \mathcal{R} = \{(1, apple), (0, orange), (0, apple) \}
				</div>

			<p class='paragraphs'>An <b>equivalence relation</b> on a set X is a relation on X. ie - a subset of X x X that is</p>

			<p class='paragraphs'>(i) Reflexive:</p>

				<div lang='latex'>
					(a,a) \ \epsilon \ \mathcal{R} \  \forall \ a \epsilon X
				</div>

			<p class='paragraphs'>(ii) Symmetric:</p>

				<div lang='latex'>
					 (a,b) \ \epsilon \ \mathcal{R} \ \longrightarrow (b,a) \ \epsilon \ \mathcal{R}
				</div>

			<p class='paragraphs'>(iii) Transitive:</p>

				<div lang='latex'>
					 (a,b) \ \epsilon \ \mathcal{R}, \ (b,c) \ \epsilon \ \mathcal{R} \longrightarrow \ (a,c) \ \epsilon \ \mathcal{R}
				</div>

			<p class='paragraphs'>Let's take a look at a couple of examples. The first example is a relation that is not an equivalence relation.
			Take a function f defined by</p>

				<div lang='latex'>
					f: \mathbb{R} \ \to \ \mathbb{R}, \ f(x) = x^{2} \ \ \ \mathcal{R} = \{(x,x^{2}) \ | \ x \ \epsilon \ \mathbb{R} \} \ \subseteq \ \mathbb{R} \ \times \ \mathbb{R}
				</div>

			<p class='paragraphs'>The relation fails to be reflexive, since for example (2,2) is not in the subset. Indeed, 2 squared is 4, so rather it
			is the case that (2,4) is in the subset.</p>

			<p class='paragraphs'>For the next example, consider the modular arithmetic class of n = 5. Then the relation</p>


				<div lang='latex'>
					\mathcal{R} = \{(r,s) \ | \ r \ \equiv \ s \ mod \ 5 \} \ \subseteq \ \mathbb{Z} \ \times \ \mathbb{Z}
				</div>

			<p class='paragraphs'>is an equivalence relation. Let us show that each of the three conditions holds. First, reflexivity:</p>

				<div lang='latex'>
					\forall \ \ \ a \ \epsilon \ \mathbb{Z} \\
					\phantom{aaa} a \ \equiv \ a \ mod \ n \\
					\phantom{aaa} \therefore \ (a,a) \ \epsilon \ \mathcal{R}
				</div>


			<p class='paragraphs'>Second, symmetrical:</p>

				<div lang='latex'>
					\forall \ \ \ (a ,b) \ \epsilon \ \mathcal{R} \\
					\phantom{aaa} a \ \equiv \ b \ mod \ n \\
					\phantom{aaa} a - b = ln, \ l \ \epsilon \ \mathbb{Z} \\
					\phantom{aaa} b - a = -ln \\
					\phantom{aaa} b \ \equiv \ a \ mod \ n \\
					\phantom{aaa} (b ,a) \ \epsilon \ \mathcal{R} \\
				</div>

			<p class='paragraphs'>Finally, transitivity:</p>

				<div lang='latex'>
					(a ,b) \ \epsilon \ \mathcal{R}, \ (b ,c) \ \epsilon \ \mathcal{R} \\
					\phantom{aaa} a - b = ln, \ l \ \epsilon \ \mathbb{Z}, \ \phantom{aaa} b - c = mn, \ m \ \epsilon \ \mathbb{Z} \\
					\phantom{aaa} (a - b) + (b - c) = a - c = ln - mn = (l-m)n \\
					\phantom{aaa} a \ \equiv \ c \ mod \ n \\
					\phantom{aaa} (a ,c) \ \epsilon \ \mathcal{R} \\
				</div>

			<p class='paragraphs'>Which shows the relation is indeed an equivalence relation.</p>

			<p class='paragraphs'>Suppose we have an equivalence relation, R, on a set X. The <b>equivalence class</b> of an element x that
			belongs to X is defined as</p>

				<div lang='latex'>
					[x] = \{ y \ | \ (x,y) \ \epsilon \ \mathcal{R} \}
				</div>

			<p class='paragraphs'>In words: Given a fixed x, what values of y will pair with x so that the product is in the equivalence relation?
			Consider the example of modular arithmetic for n = 5. What is [2]? It is given by</p>

				<div lang='latex'>
					[2] = \{ y \ | \ (2,y) \ \epsilon \ \mathcal{R} \} \\
					\phantom{aaa} \ \ \ =  \{ y \ | \ 2 \ \equiv \ y \ mod \ 5\} \\
					\phantom{aaa} \ \ \ = \{ ...,-8,-3,2,7,12,...\}
				</div>

			<p class='paragraphs'>Likewise, we can also write out [0], [1], [3] and [4]. In doing so, we will observe that:</p>

				<div lang='latex'>
					\mathbb{Z} = [0] \cup [1] \cup [2] \cup [3] \cup [4]
				</div>

			<p class='paragraphs'>This leads us to the following definition.</p>

			<p class='paragraphs'>A <b>partition</b> of a set X is given by</p>

				<div lang='latex'>
					X = \bigcup\limits_{i=1}^{n} X_{i} \ | \ X_{m} \cup X_{n} = \varnothing, \ m \neq n
				</div>



	</div>

<br>
<br>

	<div class='content'>

		<h4 id='topic2'><center>Groups</center></h4>

			<hr>

			<p class='paragraphs'>A <b>group</b> (G,*) is a set G with a binary operation * that satisifies the following:</p>

				<div lang='latex'>
					(i) \ \forall \ a,b,c \ \epsilon \ G, \ (a*b)*c = a*(b*c) \\ \\
					\phantom{aaa} (ii) \ \forall \ a \ \epsilon \ G, \ \exists \ e \ \epsilon \ G \ s.t. \ a*e = e*a = a \\ \\
					\phantom{aaa} (iii) \ \forall \ a \ \epsilon \ G, \ \exists \ a^{-1} \ \epsilon \ G \ s.t. \ a*a^{-1} = a^{-1}*a = e
				</div>

			<p class='paragraphs'>An example of a group is the set of all integers under the binary operation of addition. Or better yet,
			the set of integers <b>modulo n</b> under addition, which is an example we will be coming back to time and again.</p>

			<p class='paragraphs'>Suppose we have a group G and a set H which is a subset of G. We call H a <b>subgroup</b> of G if
			H is itself a group. In fact, we can be sure H is a subgroup of G if the following conditions are met:</p>

				<ol class='paragraphs'>
					<li>The identity that exists in G also exists in H</li>
					<li>If a and b are both in H, then so is ab</li>
					<li>If h exists in H, then so does its inverse</li>
				</ol>

			<p class='paragraphs'> Suppose now we have a group G that has finite number of elements, and we can find an element in the
			G, say a, such that when we perform the binary operation of a with itself iteratively, we eventually obtain all elements of
			the group. Then we call &lt;a&gt; the <b>cyclic group generated by a</b>.</p>

			<div lang='latex'>
				\mathbb{Z}_{6} = <1> \ is \ cyclic \\ \\
				\phantom{aaa} U_{8} \ is \ not \ cyclic
			</div>

			<p class='paragraphs'>Here, the first set is integers under addition mod 6, while the second set is integers under multiplication
			mod 8. In other words, there is not integer from 0 through 7 that can generate all the elements of U8.</p>

			<p class='paragraphs'>There is always a simple way to find a subgroup of some already existing group G. Take any element a in G.
			Then &lt;a&gt; will always generate a subgroup of G. In fact, it is the case that if G = &lt;a&gt;, then ALL subgroups of G must
			be cyclic.</p>

	</div>




<br>
<br>

	<div class='content'>

		<h4 id='topic3'><center>Permutation and Symmetric Groups</center></h4>

			<hr>

		<p>We begin this section with a few definitions and examples.</p>

		<p>Let X be a set where X = {1, 2, 3, ..., n}. A <b>permutation</b> is a bijection that maps the set X onto itself. To understand the
		notation we will be using for such maps, take the following example:</p>

		<div lang='latex'>
			\sigma(x) = \begin{pmatrix}1&2&3&4&5\\1&3&4&2&5\end{pmatrix}
		</div>

		<p class='paragraphs'>Here, sigma denotes the permutation map, and the value 1 is mapped to 1 (itself), the value 2 is mapped to 3, the
		value 3 is mapped to 4, the value 4 is mapped to 2 and the value 5 is mapped to 5 (itself).</p>

		<p class='paragraphs'>A <b>permutation group</b> of a set X is a set of permutation functions that form a group, where the operation is the
		composition of functions.</p>

		<p class='paragraphs'>Take the following example:</p>

		<div lang='latex'>
			X = \{1, 2, 3, 4, 5 \} \\ \\
			\phantom{aaa} \sigma(x) = \begin{pmatrix}1&2&3&4&5\\1&3&4&2&5\end{pmatrix} \\ \\
			\phantom{aaa} \tau(x) = \begin{pmatrix}1&2&3&4&5\\2&3&1&5&4\end{pmatrix} \\ \\
			\phantom{aaa} \sigma \circ \tau = \sigma[\tau(x)] = \sigma\tau = \begin{pmatrix}1&2&3&4&5\\3&4&1&5&2\end{pmatrix} \\ \\
		</div>

		<p class='paragraphs'>Fix an integer n greater than or equal to one, and let Sn be the set of all permutations of {1, 2, ..., n}. Sn is
		called the <b>nth symmetric group</b>. Now, if n is greater than or equal to 3, Sn is a nonabelian group of order n.</p>

		<p class='paragraphs'>There is a more compact way of writing out these elements of the group, and we can do so using <b>cycle notation</b>.
		To understand cycle notation, study the following example:</p>

		<div lang='latex'>
			\begin{pmatrix}1&2&3&4&5&6\\2&1&4&6&5&3\end{pmatrix} = (1 \ 2)(3 \ 4 \ 6)
		</div>

		<p class='paragraphs'>In the above example, we see that 1 goes to 2, and 2 goes back to 1. Hence, they make a <b>cycle</b>, which we write
		as (1 2) for short. We also see that 3 goes to 4, 4 goes to 6 and 6 goes back to 3. This defines another cycle (3 4 6). Finally, we see
		5 goes to itself. Its cycle notation is omitted as it is understood that this is the case upon omission.</p>

		<p class='paragraphs'>A <b>2-cycle</b> is simply a permutation cycle with 2 elements. In the above example, (1 2) is a 2-cycle. Further,
		a 2-cycle is called a <b>transposition</b>. It is a fact that any element in a symmetric group can be written as a product of 2-cycles,
		however such a representation is not unique.</p>

	</div>





<br>
<br>

	<div class='content'>

		<h4 id='topic4'><center>Dihedral Groups</center></h4>

			<hr>

		<p class='paragraphs'>The <b>nth dihedral group</b>, or Dn (for n at least 3 or larger), is the group of rigid motions of a regular n-gon. We label the vertices in a clockwise
		fashion. Take the example of the 4th dihedral group below:</p>

<center><img src='https://i.ibb.co/wYCZxxN/D4.png' height=250 width=400></center>

		<p class='paragraphs'>D4 has precisely 8 elements in it: the identity,  the three related to rigid rotations (in a clockwise manner), two related to diagonal flips
		and two related to horizontal and vertical flips.</p>

		<p class='paragraphs'>In fact, it is a fact that the nth dihedral group will have exactly 2n elements in its group. Furthermore, it is quite easy
		to see that Dn is a proper subset of Sn, the nth symmetric group (or permutation group). Dn is also <b>not</b> cyclic.</p>

	</div>





<br>
<br>

	<div class='content'>

		<h4 id='topic5'><center>Cosets</center></h4>

			<hr>

		<p class='paragraphs'>Let H be a subgroup of G. Consider the following:</p>

			<div lang='latex'>
				g \ \epsilon \ G \\ \\
				\phantom{aaa} \text{define} \ gH = \{gh \ | \ h \ \epsilon \ H \}
			</div>

		<p class='paragraphs'>gH is called the <b>left coset</b> of g. Here is a concrete example of cosets of the multiplicative group U(8):</p>

		<p class='paragraphs'>U(8) = {1,3,5,7}, H = {1, 7} (verify H is a subgroup of G if you like).</p>

		<ul class='lists'>
			<li> 1H = {1,7}</li>
			<li> 3H = {3,5} </li>
			<li> 5H = {5,3} = 3H </li>
			<li> 7H = {7,1} = 1H </li>
		</ul>

		<p class='paragraphs'>To illustrate the computation for this, take the case of 3H. We have fixed a particular element in G, which in this
		case is 3. Now we take 3 and preform the group operation (multiplication in this case) with each element in H. So, 3*1 == 3 mod 8 and
		3 * 7 = 21 == 5 mod 8. Hence, 3H = {3,5}. Now we present the following properties of cosets.</p>

		<p class='paragraphs'>Let G be a group and H be a subgroup of G. Furthermore, let g, g1 and g2 be elements of G. Then the folliwing hold true:</p>

			<div lang='latex'>
				(i) \ g \ \epsilon \ gH \\ \\
				\phantom{aaa} (ii) \ gH \ \epsilon \ H \ \text{iff} \ g \ \epsilon \ H \\ \\
				\phantom{aaa} (iii) \ g_{1}H = g_{2}H \ \texty{iff} \ g_{1} \ \epsilon \ g_{2}H \\ \\
				\phantom{aaa} (iv) \ \text{Either} \ g_{1}H = g_{2}H \ \text{or} \ g_{1}H \ \cap \ g_{2}H = \oslash \\ \\
				\phantom{aaa} (v) \ g_{1}H = g_{2}H \ \text{iff} \ g_{1}^{-1}g_{2} \ \epsilon \ H \\ \\
				\phantom{aaa} (vi) \ |g_{1}H| = |g_{2}H| \\ \\
				\phantom{aaa} (vii) \ |gH| = |H|
			</div>

		<p class='paragraphs'>Given a subgroup H of G, the <b>index</b> of H in G is noted [G:H], and represents the number of distince left cosets of
		H in G. In our U(8) example with H = {1,7}, we would have [G:H] = 2.</p>

		<p class='paragraphs'><b>Lagrange's Theorem</b></p>

			<div lang='latex'>
				\text{Let H be a subgroup of a finite group G. Then} \ | \text{H} | \ \text{divides} \ |  \text{G}  | \ ,\ \text{and furthermore:} \\ \\
				\phantom{aaa} [G:H] = \frac{|G|}{|H|}
			</div>

	</div>






<br>
<br>

	<div class='content'>

		<h4 id='topic6'><center>Prime Numbers, Groups and Euler's Theorem</center></h4>

			<hr>

		<p class='paragraphs'>Prime numbers play a key role in the study of groups, so it is essential we go over some fundamental properties of them.
		The first such one is: given a positive integer n, how can we find the number of integers that are less than and relatively prime to n? This is
		precisely given by Euler's <b>totient function</b>:</p>

		<div lang='latex'>
			n = p_{1}p_{2}... \ \text{where each pi is a distinct prime in the prime factorization of n.} \\ \\
			\phantom{aaa} \text{Then the number of integers less than and relatively prime to n is given by:} \\ \\
			\phantom{aaa} \phi (n) = n\prod_{p|n}\left( 1- \frac{1}{p} \right)
		</div>

		<p class='paragraphs'>This result is important given the next theorem:</p>

		<p class='paragraphs'>If a group G is of finite order, and g is an element in G, then the order of g divides the size of G. Furthermore, if
		the size of G is prime and if g is not the identity, then g is a generator of g. Any group of order prime p is isomorphic to the integer group
		modulo p.</p>


	</div>




<br>
<br>

	<div class='content'>

		<h4 id='topic7'><center>Isomorphisms</center></h4>

			<hr>

		<p class='paragraphs'>Now we discuss the idea of two groups being structurally identical, or <b>isomorphic</b> to each other. We call
		two groups G and H isomorphic if there exists a bijection, say phi, with the following property:</p>

		<div lang='latex'>
			\phi: \ G \ \longrightarrow \ H \\ \\
			\phantom{aaa} \phi(a*b) = \phi(a)  \phi(b)
		</div>

		<p class='paragraphs'>It turns out that if G is a group of infinite order, it is isomorphic to Z, and if G is a group of finite order n, it
		is isomorphic to Z modulo n. Now we list some useful isomorphic properties for groups G and H with bijection phi:</p>

		<div lang='latex'>
			(1) \ \phi(e_{G}) = e_{H} \\
			\phantom{aaa} (2) \ |G| = |H| \\
			\phantom{aaa} (3) \ \phi(g)^{-1} = \phi(g^{-1}) \\
			\phantom{aaa} (4) \ \text{if G abelian, then H abelian} \\
			\phantom{aaa} (5) \ \text{if G cyclic, then H cyclic} \\
			\phantom{aaa} (6) \ \text{if G has a subgroup of order n, so does H} \\
			\phantom{aaa} (7) \ \forany \ g \ \epsilon \ G, \ |g| = |\phi(g)|
		</div>


	</div>





  <br>
  <br>

  <div class='content'>

  	<h4 id='topic8'><center>Direct Products</center></h4>

  		<hr>

      <p class='paragraphs'>So far, we have only discussed groups as single objects with there unique binary
        operations, but it is possible to but groups together in what is called <b>direct products</b>. This is
        defined as follows:</p>

      <div lang='latex'>
        \text{Let }(G,*) \text{ and } (H ,\otimes) \text{ be groups.} \\
        \phantom{aaa} \text{The direct product is defined by } GxH = \{(g,h) \ | \ g \ \epsilon \ G, \ h \ \epsilon \ H\} \\
        \phantom{aaa} \text{Furthermore, we have } (e_{G},e_{H}) \text{ is the identity of GxH} \\
        \phantom{aaa} \text{Product of two elements is given by } (g_{1},h_{1})x(g_{2},h_{2}) = (g_{1}*g_{2},h_{2} \otimes h_{2}) \\
        \phantom{aaa} \text{Inverses are given by }(g,h)^{-1} = (g^{-1},h^{-1})
      </div>

      <p class='paragraphs'>Now it is a natural question to wonder if any group G can be written as the direct product of some
      smaller subgroups H and K. This leads us to the definition of an <b>internal direct product</b>:</p>

      <div lang='latex'>
        \text{Let G be a group and H and K be subgroups of G.} \\
        \phantom{aaa} \text{G is an internal direct product if:} \\
        \phantom{aaa} (i) \ G = HK = \{hk \ | \ h \ \epsilon H, \ k \ \epsilon \ K \} \\
        \phantom{aaa}(ii) \ H \ \cap \ K = \{e\} \\
        \phantom{aaa} (iii) \ hk = kh \ \forany \ h \ \epsilon H, \ k \ \epsilon \ K
      </div>

    <p class='paragraphs'>We now illustrate this concept with an example. Take the multiplicative group
      G = U(8) = {1,3,5,7}. It has proper subgroups H = {1,3} and K = {1,5}. Now let us check the above
      three conditions to see if G is an internal direct product.</p>

      <div lang='latex'>
        HK = \{1*1, 1*5, 3*1, 3*5 \} \\
        \phantom{aaa} = \{1,5,3,7 \} = G \\ \\
        \phantom{aaa}H \ \cap \ K = \{1\} \\ \\
        \phantom{aaa}hk = kh \ \text{is trivial, since H and K are abelian}
      </div>

      <p class='paragraphs'>If G is an internal direct product of H and K, then G is also isomorphic to HxK.</p>

</div>





  <br>
  <br>

  <div class='content'>

  	<h4 id='topic9'><center>Normal Subgroups and Factor Groups</center></h4>

  		<hr>

     	 <p class='paragraphs'>Recall that for a subgroup H of a group G, we write:</p>

		<div lang='latex'>
			G/H = \{ g_{1}H, \ g_{2}H, ...,\}
		</div>

	 <p class='paragraphs'>is the set of all left cosets of H with G. The question that now arises is: When is this set G/H itself a group? The answer 
	depends on what type of subgroup H is.</p>

	 <p class='paragraphs'>A subgroup N of G is called a <b>normal group</b> if gN = Ng for any g in G. It follows that if G is abelian, then every 
	subgroup of G is in fact normal. The following three statements are equivalent:</p>

	<ol class='lists'>
		<li>N is normal</li>
		<li> <div lang='latex'>\forany \ g \ \epsilon \ G, \ gNg^{-1} = \{gng^{-1} \ | \ n \ \epsilon \ N \} \ \subset \ N </div></li>
		<li> <div lang='latex'> gNg^{-1} = N \ \forany \ g \ \epsilon \ G</div> </li>
	</ol>

	<p class='paragraphs'><b>Theorem</b>: Let G be a group with normal subgroup N and let G/N be the set of distinct left cosets. Then this set is 
	a group with operation (g1N)(g2N) = (g1*g2)N. G/N is called a <b>factor group</b> and is read "G mod N"</p>

	</div>




  <br>
  <br>

	<div class='content'>

  	<h4 id='topic10'><center>Simple Groups and Homomorphisms</center></h4>

  		<hr>

	<p class='paragraphs'>We begin this section with the following fact: Let G be a finite abelian group. If p is a prime and p divides |G|, then G 
	has an element of order p. Now we define a simple group.</p>

	<p class='paragraphs'>A group is <b>simple</b> if it has no normal subgroups. For example, the set of integers modulo any prime number p is a simple 
	group.</p>

	<p class='paragraphs'>Recall that when we defined what it means for two groups to be isomorphic, we had three conditions: Injective, surjective, and 
	a map with the following property:</p>

	<div lang='latex'>
		\theta: \ G \ \longrightarrow \ H \\
		\phantom{aaa} \theta(a*b) = \theta(a) \times \theta(b)
	</div>

	<p class='paragraphs'>This condition of theta is what is known as a <b>homomorphism</b> between groups G and H. Homomorphisms of groups G and H 
	have the following properties:</p>

	<ol class='lists'>
		<li> <div lang='latex'>\theta(e_{G}) = e_{H} </div> </li>
		<li> <div lang='latex'>\theta(a)^{n} = \theta(a^{n}) </div> </li>
		<li> <div lang='latex'>\theta(a)^{-1} = \theta(a^{-1}) </div> </li>
		<li> <div lang='latex'>\text{If N is a subgroup of G, then } \theta(N) \ \text{is a subgroup of H} </div> </li>
		<li> <div lang='latex'>\text{If K is a subgroup of H, then } \theta^{-1}(K) \ \text{is a subgroup of G}  </div> </li>
		<li> <div lang='latex'>\text{If K is normal, then so is } \theta^{-1}(K) </div> </li>
	</ol>

		<p class='paragraphs'>We define the <b>kernel</b> of a group homomorphism to be the following group:</p>

		<div lang='latex'>
			ker \ \theta = \{ \ g \ \epsilon \ G \ | \ \theta(g) = e_{H} \ \}
		</div>

		<p class='paragraphs'>For example, what would be the kernal of the following homomorphism given by f:</p>

		<div lang='latex'>
			f: \ \mathbb{Z} \ \longrightarrow \ \mathbb{Z}_{n} \\
			\phantom{aaa} ker \ f = {0,n,2n,...}
		</div>

	</div>





  <br>
  <br>

	<div class='content'>

  	<h4 id='topic11'><center>Isomorphism Theorems</center></h4>

  		<hr>

	<p class='paragraphs'>Now we come to three important theorems of group isomorphisms. The first one is probably the most important, while the second 
	and third are not as relevant.</p>

	<div lang='latex'>
		\theta: \ G \ \longrightarrow \ H \ \text{a group homomorphism} \\ \\
		\phantom{aaa} \text{First Isomorphism Theorem: Let } L = Im(\theta) \ \subseteq \ H \\
		\phantom{aaa} \text{then } G/ker(\theta) \simeq \ L \\ \\
		\phantom{aaa} \text{Second Isomorphism Theorem: Let H be a subgroup of G and N be a normal subgroup of G. Then } \\ 
		\phantom{aaa} \text{HN is a subgroup of G} \\
		\phantom{aaa} \text H\cap N \text{ is normal in H} \\
		\phantom{aaa} H/H\cap N \ \simeq \ HN/N \\ \\
		\phantom{aaa} \text{Third Isomorphism Theorem: Let G be a group, H and N normal subgroups with } \\ \phantom{aaa} N \subseteq H \ \subseteq \ G \\
		\phantom{aaa} \text{then } G/H \ \simeq \ (G/N)/(H/N)
	</div>

	</div>





  <br>
  <br>

	<div class='content'>

  	<h4 id='topic12'><center>Rings and Fields</center></h4>

  		<hr>

		<p class='paragraphs'>We have concluded our look at groups and now turn our attention to some other more structured objects. A 
		<b>ring</b> is essentially a group with additional structures to it. First, we give the minimum requirements for a set R to be a 
		ring. The set has two binary operations defined on it: addition and subtraction. Furthermore, the following properties must, at a 
		minimum, be satisfied:</p>

		<ol class='lists'>
			<li> <div lang='latex'>a + b = b + a </div> </li>
			<li> <div lang='latex'>(a + b) + c = a + (b + c) </div> </li>
			<li> <div lang='latex'> \exists \ 0 \ \epsilon \ R \ s.t. \ a + 0 = 0 </div> </li>
			<li> <div lang='latex'> \forany \ a \ \epsilon \ R, \ \exists \ -a \ \epsilon  \ R \ s.t. \ a + (-a) = 0</div> </li>
			<li> <div lang='latex'>a(bc) = (ab)c </div> </li>
			<li> <div lang='latex'>(a+b)c = ac + bc \ \ \ a(b+c) = ab + ac </div> </li>
		</ol>

		<p class='paragraphs'>Some things to note: the additive operation is neccessairly abelian, but the multiplicative operation does not 
		require such constraint. If ab = ba, then R is called a <b>commutative ring</b>. Note also, that there is no mention of a strict 
		multiplicative identity 1 such that a(1) = 1(a) = a. Finally, there is not neccessairly a multiplicative inverse for each element in the 
		field. If a multiplicative inverse exists for any element except the additive inverse 0, then R is called a <b>division ring</b>.</p>

		<p class='paragraphs'>A <b>field</b> is a division ring that is also commutative under multiplication. It is a ring that has the most 
		restrictions on its structure. In a sense, a field is the most well defined version of a group.</p>

		<p class='paragraphs'>Suppose we have a ring R with elements a and b, with neither 0. Then a is called a <b>zero divisor</b> if ab = 0.	A 
		ring with no zero divisor is called an <b>integral domain</b>. For example, the integers modulo n are an integral domain if n is any prime 
		number.</p>

		<p class='paragraphs'>Similar to how we defined the cartesian product of two groups, we can do the same for two rings. Let R and S be rings. Then 
		RxS is given by:</p>

		<div lang='latex'>
			R\times S = \{(r,s) \ | \ r \ \epsilon \ R \ s \ \epsilon \ S \ \} \\ 
			\phantom{aaa} (r_{1},s_{1}) + (r_{2},s_{2}) = (r_{1}+r_{2},s_{1}+s_{2}) \\
			\phantom{aaa} (r_{1},s_{1})(r_{2},s_{2}) = (r_{1}r_{2},s_{1}s_{2})
		</div>

		<p class='paragraphs'>An integrable domain is a field if every non zero element in the field has a multiplicative inverse. Furthermore, if you 
		have a ring that is an integrable domain with a finite number of elements, then the ring is also a field. For instance, since the integers Z 
		mod p with p prime is an integrable domain and is finite, then it is also a field. We define the <b>characteristic of a ring, char(R)</b> to 
		be the smallest integer n such that nr = r + r + ... + r (n-times) = 0 for any r in the ring R. If no such integer n exists, then the ring is 
		said to have char(R) = 0.</p>

		<p class='paragraphs'>Char(Z mod n) = n</p>

		<p class='paragraphs'>An important fact: if 1 is in the ring R and n is the smallest integer such that 1 + 1 + ... + 1 (n-times) = 0, then 
		char(R) = n. This is especially useful when we have larger rings that we don't want to test every element to find the char(R) of the ring.</p>

		<p class='paragraphs'>Another important fact: if R is an integrable domain, then either char(R) = 0 or char(R) = p for some prime p.</p>

	</div>


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
