<!DOCTYPE html>
<html>
<html lang="en">


  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
	
    <title>Introductory Derivatives Quiz</title>


  </head>



<style>

.title {
  background-color:#b4d09a;
  color: #018268;
  font-size: 300%;
  text-shadow: 1px 1px 0px #000000;
}

.subtitles {
  background-color:#b4d09a;
  color: #018268;
  font-size: 200%;
  margin:20px;
}
.links {
 background-color: #b4d09a;
 color: black;
 font-size: 120%;
}

.banner {
  height: 100vh;
  background-color: #b4d09a;
}

.tables {
 color:#018268;
 background-color: #252828;
 text-shadow: 2px 2px 0px #000000;
 margin: 10px;
}

.paragraphs {
 color: #000000;
 font-size:100%;
 margin: 5px;
 padding: 5px;
}

.questions {
 background-color:#b4d09a;
 color: #000000;
 font-size:100%;
}


.lists {
  color: #000000;
  font-size:100%;
  position: center;
}


.dropbutton {
  background-color: #b4d09a;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #b4d09a;
  min-width: 160px;
  box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-bottom: 5px solid #000000;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

.latex {
  background-color: #ffffff;
  margin: 5px;
  padding: 5px;

}

.ansbutton {
  padding: 5px;
  margin: 20px;
}

.hintbutton {
  background-color:#b4d09a;
  padding:10px;

}

.hint {
  color: #000000;
}

.hline { 
width:100%; 
height:5px; 
background: #b4d09a;
 }

</style>


<body style="background-color:#b4d09a;">


	<div class="title">
		<center>Introductory Derivatives Quiz</center>
	</div>

	<div class='subtitles' style='font-size:100%;'>
		<div class='dropdown'>
			<button class='dropbutton'>Navigate</button>
				<div class='dropdowncontent'>
					<center><a class='links' href='{% url 'app-home' %}'>Return Home</a><center>
						<br>
					<center><a class='links' href='{% url 'forum' %}'>Go to Forum</a></center>
						<br>
					<center><a class='links' href='{% url 'deriv_info' %}'>Info Sheet</a></center>

				</div>
		</div>

		<a class='btn btn-info' style='margin:10px;' href='{% url 'calculus_tool' %}'>Calculate Derivatives</a></center>
	</div>

	<div class="questions">
		<br>
		<center><p>Question 1: The first principles definition of a derivative is given by</p></center>
			<div lang="latex" align='center'>
				f'(x) = \lim_{h\to 0} \frac{f(x+h)-f(x)}{h}
			</div>
		<center><p>Which of the following is an equivalent representation of the derivative of f(x)?</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
			<div lang="latex" align='center'>
				f'(x) = \lim_{x\to a} \frac{f(x)-f(a)}{x-a}
			</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
			<div lang="latex" align='center'>
				f'(x) = \lim_{h\to 0} \frac{f(x+h)-f(x)}{x-h}
			</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
			<div lang="latex" align='center'>
				f'(x) = \lim_{x\to 0} \frac{f(x+h)-f(x)}{x}
			</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
			<div lang="latex" align='center'>
				f'(x) = \lim_{h\to 0} \frac{f(h)-f(x)}{h}
			</div>
				</button>	
	</div>

	<div class='hint' id="spoiler1" style="display:none" >

		Hint: If you make the limit substitution, which answer results in the form 0/0?
	</div>

	<div class='hintbutton'>

		<button  title="question1" type="button" onclick="if(document.getElementById('spoiler1') .style.display=='none')
     		  {document.getElementById('spoiler1') .style.display=''}else{document.getElementById('spoiler1') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>





	<div class="questions">
		<br>
		<center><p>Question 2: What is the derivative of</p></center>
			<div lang="latex" align='center'>
				y = x^{\frac{2}{3}} - \frac{1}{x}
			</div>
		<center><p>with respect to x?</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
			<div lang="latex" align='center'>
				y' = x^{\frac{2}{3}} + 1
			</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
			<div lang="latex" align='center'>
				y' = \frac{2}{3}x^{\frac{1}{3}} + \frac{1}{x^{2}}
			</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
			<div lang="latex" align='center'>
				y' = \frac{2}{3x^{\frac{1}{3}}} + \frac{1}{x^{2}}
			</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
			<div lang="latex" align='center'>
				y' = 0
			</div>
				</button>	
	</div>

	<div class='hint' id="spoiler2" style="display:none" >

		Hint: Rewrite with x in numerator, apply power rule and write final answer with positive exponents
	</div>

	<div class='hintbutton'>

		<button  title="question2" type="button" onclick="if(document.getElementById('spoiler2') .style.display=='none')
     		  {document.getElementById('spoiler2') .style.display=''}else{document.getElementById('spoiler2') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>





	<div class="questions">
		<br>
		<center><p>Question 3: What is the derivative of</p></center>
			<div lang="latex" align='center'>
				y = c\frac{1-\sqrt{x}}{3}
			</div>
		<center><p>with respect to c?</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
			<div lang="latex" align='center'>
				y' = c\frac{1}{6\sqrt{x}}
			</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
			<div lang="latex" align='center'>
				y' = -\frac{c}{6\sqrt{x}}
			</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
			<div lang="latex" align='center'>
				y' = \frac{1-\sqrt{x}}{3} -\frac{c}{6\sqrt{x}}
			</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
			<div lang="latex" align='center'>
				y' = \frac{1-\sqrt{x}}{3}
			</div>
				</button>	
	</div>

	<div class='hint' id="spoiler3" style="display:none" >

		Hint: Remember: we are differentiating with respect to c
	</div>

	<div class='hintbutton'>

		<button  title="question3" type="button" onclick="if(document.getElementById('spoiler3') .style.display=='none')
     		  {document.getElementById('spoiler3') .style.display=''}else{document.getElementById('spoiler3') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>






	<div class="questions">
		<br>
		<center><p>Question 4: What is the value of f'(2) where</p></center>
			<div lang="latex" align='center'>
				f(x) = \sqrt{3x^{2} + 4}
			</div>
		<center><p>with respect to c?</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					4
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
					3/2
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					1/4
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					6
				</button>	
	</div>

	<div class='hint' id="spoiler4" style="display:none" >

		Hint: Use the chain rule
	</div>

	<div class='hintbutton'>

		<button  title="question4" type="button" onclick="if(document.getElementById('spoiler4') .style.display=='none')
     		  {document.getElementById('spoiler4') .style.display=''}else{document.getElementById('spoiler4') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>





	<div class="questions">
		<br>
		<center><p>Question 5: For what values of x is the tagent to the function given by</p></center>
			<div lang="latex" align='center'>
				T(x) = (2x+1)^{3}(x-4)^{4}
			</div>
		<center><p>horizontal?</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					x = -1/2, 4
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					x = 2, 3
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					x = -1/2, 4, 2, 3
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
					x = -1/2, 4, 10/7
				</button>	
	</div>

	<div class='hint' id="spoiler5" style="display:none" >

		Hint: What is the derivative equal to when the tangent line is horizontal?
	</div>

	<div class='hintbutton'>

		<button  title="question5" type="button" onclick="if(document.getElementById('spoiler5') .style.display=='none')
     		  {document.getElementById('spoiler5') .style.display=''}else{document.getElementById('spoiler5') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>





	<div class="questions">
		<br>
		<center><p>Question 6: Which of the following does not have to be true for a function f(x) to have a well 
		defined derivative at the point x = a?</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					The function must exist at x = a
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					The limit must exist at x = a
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					The function must be continuous at x = a
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
					The derivative cannot be 0 at x = a
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					All of the above must be true
				</button>	
	</div>

	<div class='hint' id="spoiler6" style="display:none" >

		Hint: The derivative is given by the slope of the tangent line at x = a
	</div>

	<div class='hintbutton'>

		<button  title="question6" type="button" onclick="if(document.getElementById('spoiler6') .style.display=='none')
     		  {document.getElementById('spoiler6') .style.display=''}else{document.getElementById('spoiler6') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>






	<div class="questions">
		<br>
		<center><p>Question 7: What is the equation of the tangent line to</p></center>
			<div lang="latex" align='center'>
				P(x) = x^{2} - 5x + 6
			</div>
		<center><p>at the point x = -1?</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
			<div lang="latex" align='center'>
				y = -7
			</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
			<div lang="latex" align='center'>
				y = \frac{1}{7}x + 5
			</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
			<div lang="latex" align='center'>
				7x + y = 5
			</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
			<div lang="latex" align='center'>
				x + y = 7
			</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				The tangent line does not exist
				</button>	
	</div>

	<div class='hint' id="spoiler7" style="display:none" >

		Hint: The derivative at x = -1 is the slope of the tangent line
	</div>

	<div class='hintbutton'>

		<button  title="question7" type="button" onclick="if(document.getElementById('spoiler7') .style.display=='none')
     		  {document.getElementById('spoiler7') .style.display=''}else{document.getElementById('spoiler7') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>





	<div class="questions">
		<br>
		<center><p>Question 8: A particle is moving along a trajectory given by the function</p></center>
			<div lang="latex" align='center'>
				d(t) = t^{2} - 4t + 11
			</div>
		<center><p>Where d is the distance in metres and t is the time in seconds. At what distance will the particle 
		have a velocity of 0 m/s?</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					d = 2
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
					d = 7
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					d = 0
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					d = -3
				</button>	
	</div>

	<div class='hint' id="spoiler8" style="display:none" >

		Hint: The velocity is represented by the first derivative
	</div>

	<div class='hintbutton'>

		<button  title="question8" type="button" onclick="if(document.getElementById('spoiler8') .style.display=='none')
     		  {document.getElementById('spoiler8') .style.display=''}else{document.getElementById('spoiler8') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>





	<div class="questions">
		<br>
		<center><p>Question 9: A particle is moving along a trajectory given by the function</p></center>
			<div lang="latex" align='center'>
				d(t) = 6t^{2} - t + 8
			</div>
		<center><p>Where d is the distance in metres and t is the time in seconds. What are the possible velocities of the particle 
		when it is at a position of d = 8?</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					0 and 6 m/s
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					3 m/s
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
					-1 and 71 m/s
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					8 m/s
				</button>	
	</div>

	<div class='hint' id="spoiler9" style="display:none" >

		Hint: First find the time for the given position
	</div>

	<div class='hintbutton'>

		<button  title="question9" type="button" onclick="if(document.getElementById('spoiler9') .style.display=='none')
     		  {document.getElementById('spoiler9') .style.display=''}else{document.getElementById('spoiler9') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>





	<div class="questions">
		<br>
		<center><p>Question 10: Given the graph below, for what intervals does the function have a negative derivative?</p></center>
<center><iframe src="https://www.desmos.com/calculator/2sre4zn9bv?embed" width="300px" height="300px" style="border: 1px solid #ccc" frameborder=0></iframe></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						x \ \epsilon \ R
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						x \ \epsilon \ R \ | \  x < -1
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
					<div lang="latex" align='center'>
						x \ \epsilon \ R \ | \  1 < x < 4
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						x \ \epsilon \ R \ | \ x < 1, \ x > 4
					</div>
				</button>	
	</div>

	<div class='hint' id="spoiler10" style="display:none" >

		Hint: A negative derivative is a tangent line that is sloping down and to the right
	</div>

	<div class='hintbutton'>

		<button  title="question10" type="button" onclick="if(document.getElementById('spoiler10') .style.display=='none')
     		  {document.getElementById('spoiler10') .style.display=''}else{document.getElementById('spoiler10') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>





	<div class="questions">
		<br>
		<center><p>Question 11: Given the quadratic function</p></center>
					<div lang="latex" align='center'>
						y = ax^{2} + bx + c
					</div>
		<center><p>Where is the axis of symmetry located?</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						x = c
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						x = \frac{-b \pm \sqrt{b^{2} - 4ac}}{2a}
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
					<div lang="latex" align='center'>
						x = -\frac{b}{2a}
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						x = b^{2} - 4ac
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					Impossible to find
				</button>	
	</div>

	<div class='hint' id="spoiler11" style="display:none" >

		Hint: The axis symmetry is related to the vertex. What is the derivative equal to at the vertex?
	</div>

	<div class='hintbutton'>

		<button  title="question11" type="button" onclick="if(document.getElementById('spoiler11') .style.display=='none')
     		  {document.getElementById('spoiler11') .style.display=''}else{document.getElementById('spoiler11') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>






	<div class="questions">
		<br>
		<center><p>Question 12: Which of the following is true about the derivative of a function f(x)?</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					The derivative exists for all values of x
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
					It is the rate of change of f(x)
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					It can have different values for the same point x
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					It can never be 0
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					All of the previous statements are not true
				</button>	
	</div>

	<div class='hint' id="spoiler12" style="display:none" >

		Hint: Think about the meaning of the derivative
	</div>

	<div class='hintbutton'>

		<button  title="question12" type="button" onclick="if(document.getElementById('spoiler12') .style.display=='none')
     		  {document.getElementById('spoiler12') .style.display=''}else{document.getElementById('spoiler12') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>





	<div class="questions">
		<br>
		<center><p>Question 13: Determine the derivative of the function</p></center>
					<div lang="latex" align='center'>
						f(x)  = \frac{1+x}{1-x}
					</div>
		<center><p>With respect to x.</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
					<div lang="latex" align='center'>
						f'(x) = \frac{2}{(1-x^{2})}
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						f'(x) = -\frac{2x}{(1-x^{2})}
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						f'(x) = -1
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						f'(x) = \frac{2}{1-x^{2}}
					</div>
				</button>
	</div>

	<div class='hint' id="spoiler13" style="display:none" >

		Hint: Use quotient rule
	</div>

	<div class='hintbutton'>

		<button  title="question13" type="button" onclick="if(document.getElementById('spoiler13') .style.display=='none')
     		  {document.getElementById('spoiler13') .style.display=''}else{document.getElementById('spoiler13') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>





	<div class="questions">
		<br>
		<center><p>Question 14: A ball is thrown into the air and its position can be modelled by the function</p></center>
					<div lang="latex" align='center'>
						h(t) = -2t^{2} + 9t + 5
					</div>
		<center><p>Where h is the height of the ball above the ground in metres and t is the time from which the ball was thrown 
		in seconds. What is the velocity of the ball as it hits the ground?</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						5 m/s
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						-10 m/s
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						-8 m/s
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						0 m/s
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
					<div lang="latex" align='center'>
						-11 m/s
					</div>
				</button>
	</div>

	<div class='hint' id="spoiler14" style="display:none" >

		Hint: Factor to find the time the ball hits the ground first. Use that to find the velocity
	</div>

	<div class='hintbutton'>

		<button  title="question14" type="button" onclick="if(document.getElementById('spoiler14') .style.display=='none')
     		  {document.getElementById('spoiler14') .style.display=''}else{document.getElementById('spoiler14') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>





	<div class="questions">
		<br>
		<center><p>Question 15: For what values of the function given by the graph below does the derivative not exist?</p></center>
<center><iframe src="https://www.desmos.com/calculator/knt8eeh0ga?embed" width="300px" height="300px" style="border: 1px solid #ccc" frameborder=0></iframe></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						x = \pm 1000
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						x = 0
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
					<div lang="latex" align='center'>
						x = -2, \ 4
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						x = 20
					</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					<div lang="latex" align='center'>
						x \ \epsilon \ R
					</div>
				</button>
	</div>

	<div class='hint' id="spoiler15" style="display:none" >

		Hint: The derivative would not exist where a tangent line can not be properly placed on the graph
	</div>

	<div class='hintbutton'>

		<button  title="question15" type="button" onclick="if(document.getElementById('spoiler15') .style.display=='none')
     		  {document.getElementById('spoiler15') .style.display=''}else{document.getElementById('spoiler15') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>





	<div class="questions">
		<br>
		<center><p>Question 16: Where does the tangent line at x = 2 to the function</p></center>
					<div lang="latex" align='center'>
						f(x) = 3x^{2} - x + 7
					</div>
		<center><p>Intersect the x-axis?</p></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
					x = 5/11
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					x = 11
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					x = -5
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					x = 0
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
					It never intersects the x-axis
				</button>
	</div>

	<div class='hint' id="spoiler16" style="display:none" >

		Hint: Find the equation of the tangent line, then find its x-intercept
	</div>

	<div class='hintbutton'>

		<button  title="question16" type="button" onclick="if(document.getElementById('spoiler16') .style.display=='none')
     		  {document.getElementById('spoiler16') .style.display=''}else{document.getElementById('spoiler16') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>





<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>

</script>

</body>

</html>