<!DOCTYPE html>
<html>

<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
    <title>Problems 1 - 10</title>
  </head>

<style>

.toplinks {
	float:right;
	padding:10px;
	margin:8px;
}

.maintitle {
	font-size:200%;
	text-align:left;
	padding:8px;
	margin:8px;
}

#toc_container {
	background: #b4cb9a none repeat scroll 0 0;
	border: 1px solid #000000;
        display: table;
        font-size: 95%;
        margin-bottom: 1em;
        padding: 15px;
        width: auto;
	margin:8px;
}

.toc_title {
        font-weight: 700;
        text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
        list-style: outside none none !important;
}

.introduction {
	margin: 10px;
	overflow-wrap: break-word;
}

.content {
	margin: 8px;
}

hr {
    border: 0;
    height: 2px;
    margin:2px;
    position:relative;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4d09a', endColorstr='#b4d09a;',GradientType=1 ); /* IE6-9 */
}

hr:before {
    content: "";
    display: block;
    border-top: solid 1px #b4d09a;
    width: 100%;
    height: 1px;
    top: 50%;
    z-index: 1;
}

.latex {
  background-color: #ffffff;
  margin: 8px;
  padding: 8px;
}

.paragraphs {
	font-size:100%;
	margin:8px;
	padding:8px;
	overflow-wrap: break-word;
}

</style> 

<body style='background-color:#b4d09a;'>

	<a class='toplinks' href='{% url 'app-home' %}'>Return Home</a>
	<a class='toplinks' href='{% url 'forum' %}'>Go to Forum</a>
	<a class='toplinks' href='{% url 'project-euler-notes' %}'>Go to notes</a>
	<a class='toplinks' href='{% url 'project-euler-problems' %}'>Return to Problems Main Page</a>

	<h1 class='maintitle'>Problems 1 - 10</h1>

	<hr>

	<div id="toc_container">
		<p class="toc_title">Contents</p>
			<ul class="toc_list">
  				<li><a href="#topic1">Problem 1</a></li>
				<li><a href="#topic2">Problem 2</a></li>
				<li><a href="#topic3">Problem 3</a></li>
				<li><a href="#topic4">Problem 4</a></li>
			</ul>
	</div>

	<div class='content'>

		<h4 id='topic1'><center>Problem 1: Multiples of Three and Five</center></h4>

			<hr>
		
		<p class='paragraphs'><i>Date posted: 28/09/2019</i></p>
		<p class='paragraphs'><i>Problem rating: 5%</i></p>

		<p class='paragraphs'>If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. 
		The sum of these multiples is 23. <b>Find the sum of all the multiples of 3 or 5 below 1000.</b></p>

		<p class='paragraphs'>When we first look at this problem, it is tempting to simply generate a list of all multiples of 3 below 1000, 
		generate a list of all multiples of 5 below 1000, sum both lists and then add their result. But consider the first few multiples of 3 
		and 5:</p>

		<ul class='lists'>
			<li>3: 3, 6, 9, 12, <b>15</b>, 18, 21, ...</li>
			<li>5: 5, 10, <b>15</b>, 20, 25 ...</li>
		</ul>

		<p class='paragraphs'>Now we see that if we were to take the above approach, we would be double counting the numbers that are multiples of 
		3 and 5. To ensure we are not double counting, we can do the following:</p>

		<ol class='lists'>
			<li>Initialize a sum variable to 0</li>
			<li>Run a loop for the integers 1 through 999</li>
			<li>If an integer is divisible by 3, add it to the sum</li>
			<li>Else if said integer is divisible by 5, add it to the sum</li>
			<li>Else, go on to the next integer</li>
		</ol>

		<p class='paragraphs'>This way, we are only adding each integer to the sum at most once. The code for this is shown below.</p>

<pre style='color:#000000;background:#ffffff;'>total <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span>

<span style='color:#800000; font-weight:bold; '>for</span> number <span style='color:#800000; font-weight:bold; '>in</span> <span style='color:#400000; '>range</span><span style='color:#808030; '>(</span><span style='color:#008c00; '>1</span><span style='color:#808030; '>,</span><span style='color:#008c00; '>1000</span><span style='color:#808030; '>)</span><span style='color:#808030; '>:</span>
    <span style='color:#800000; font-weight:bold; '>if</span> number <span style='color:#44aadd; '>%</span> <span style='color:#008c00; '>3</span> <span style='color:#44aadd; '>==</span> <span style='color:#008c00; '>0</span><span style='color:#808030; '>:</span>
        total <span style='color:#44aadd; '>+</span><span style='color:#808030; '>=</span> number
    <span style='color:#800000; font-weight:bold; '>elif</span> number <span style='color:#44aadd; '>%</span> <span style='color:#008c00; '>5</span> <span style='color:#44aadd; '>==</span> <span style='color:#008c00; '>0</span><span style='color:#808030; '>:</span>
        total <span style='color:#44aadd; '>+</span><span style='color:#808030; '>=</span> number
</pre>

		<p class='paragraphs'>total = 233168, run time = 1.06 ms</p>


	</div>

<br>
<br>

	<div class='content'>

		<h4 id='topic2'><center>Problem 2: Even Fibonacci Numbers</center></h4>

			<hr>
		
		<p class='paragraphs'><i>Date posted: 05/10/2019</i></p>
		<p class='paragraphs'><i>Problem rating: 5%</i></p>

		<p class='paragraphs'>Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with one and two, 
		the first ten terms will be: 1, 2, 3, 5, 8, 13, 21, 34, 55 and 89. <b>By considering the terms in the Fibonacci sequence whose values do not 
		exceed four million, find the sum of the even-valued terms</b>.</p>

		<p class='paragraphs'>We will define the Fibonacci numbers in a recursive manner, and then check if each number is even and less than 
		four million. If it is, we can add it to the sum total. If it's not, then we either proceed to the next iteration of the sequence or 
		terminate the loop. Keep in mind that we will have to remove the last number in the sequence from the sum since it will be larger than 
		four million, which will cause us to exit our iterating loop. The general outline of our algorithm will look like this:</p>

<center><img src='https://i.ibb.co/C0MvdKM/fib-2-flow.png' height=250 width=300></center>

		<p class='paragraphs'><b>NOTE: In Python, the while loop will not add the final Fibonacci number to the sum, we don't have to subtract 
		it at the end.</b></p>
		
		<p class='paragraphs'>Here is the code:</p>

<pre style='color:#000000;background:#ffffff;'>F1 <span style='color:#808030; '>=</span> <span style='color:#008c00; '>1</span>
F2 <span style='color:#808030; '>=</span> <span style='color:#008c00; '>2</span>
total <span style='color:#808030; '>=</span> <span style='color:#008c00; '>2</span>

<span style='color:#800000; font-weight:bold; '>while</span> F2 <span style='color:#808030; '>&lt;</span> <span style='color:#008c00; '>4000000</span><span style='color:#800080; '>:</span>
    tempFib <span style='color:#808030; '>=</span> F2
    F2 <span style='color:#808030; '>=</span> F1 <span style='color:#808030; '>+</span> tempFib
    F1 <span style='color:#808030; '>=</span> tempFib
    
    <span style='color:#800000; font-weight:bold; '>if</span> F2 <span style='color:#808030; '>%</span> <span style='color:#008c00; '>2</span> <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span><span style='color:#800080; '>:</span>
        total <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> F2
</pre>

		<p class='paragraphs'>total = 4613732, run time = 1.03 ms</p>

	</div>





<br>
<br>

	<div class='content'>

		<h4 id='topic3'><center>Problem 3: Largest prime factor</center></h4>

			<hr>

		<p class='paragraphs'><i>Date posted: 11/10/2019</i></p>

		<p class='paragraphs'><i>Problem rating: 5%</i></p>

		<p class='paragraphs'>The prime factors of 13195 are 5, 7, 13 and 29. <b>What is the largest prime factor of the number 600851475143?</b></p>

		<p class='paragraphs'>Recall that a prime number is a positive integer that has exactly two factors: one and itself. We can break this 
		problem down into two steps:</p>

		<ol class='lists'>
			<li>Generate a reasonably large list of prime numbers</li>
			<li>Test to see which of them divides 600851475143</li>
		</ol>

		<p class='paragraphs'>The largest of these prime numbers will be our attempt at the solution. If we don't get the correct result, then we simply 
		have to increase the size of our list of prime numbers. The code for this problem is shown below.</p>

<pre style='color:#000000;background:#ffffff;'><span style='color:#800000; font-weight:bold; '>import</span> math

primes <span style='color:#808030; '>=</span> <span style='color:#808030; '>[</span><span style='color:#008c00; '>2</span><span style='color:#808030; '>,</span><span style='color:#008c00; '>3</span><span style='color:#808030; '>]</span>

<span style='color:#800000; font-weight:bold; '>for</span> i <span style='color:#800000; font-weight:bold; '>in</span> <span style='color:#400000; '>range</span><span style='color:#808030; '>(</span><span style='color:#008c00; '>5</span><span style='color:#808030; '>,</span><span style='color:#008c00; '>100000</span><span style='color:#808030; '>,</span><span style='color:#008c00; '>2</span><span style='color:#808030; '>)</span><span style='color:#808030; '>:</span>
    
    isPrime <span style='color:#808030; '>=</span> <span style='color:#074726; '>True</span>
    
    <span style='color:#800000; font-weight:bold; '>for</span> j <span style='color:#800000; font-weight:bold; '>in</span> <span style='color:#400000; '>range</span><span style='color:#808030; '>(</span><span style='color:#008c00; '>3</span><span style='color:#808030; '>,</span><span style='color:#400000; '>int</span><span style='color:#808030; '>(</span>math<span style='color:#808030; '>.</span>sqrt<span style='color:#808030; '>(</span>i<span style='color:#808030; '>)</span><span style='color:#808030; '>)</span> <span style='color:#44aadd; '>+</span> <span style='color:#008c00; '>1</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>2</span><span style='color:#808030; '>)</span><span style='color:#808030; '>:</span>
        
        <span style='color:#800000; font-weight:bold; '>if</span> i<span style='color:#44aadd; '>%</span>j <span style='color:#44aadd; '>==</span> <span style='color:#008c00; '>0</span><span style='color:#808030; '>:</span>
            
            isPrime <span style='color:#808030; '>=</span> <span style='color:#074726; '>False</span>
            
            <span style='color:#800000; font-weight:bold; '>break</span>
        
    <span style='color:#800000; font-weight:bold; '>if</span> isPrime <span style='color:#44aadd; '>==</span> <span style='color:#074726; '>True</span><span style='color:#808030; '>:</span>
        
        primes<span style='color:#808030; '>.</span>append<span style='color:#808030; '>(</span>i<span style='color:#808030; '>)</span>
        
divisors <span style='color:#808030; '>=</span> <span style='color:#808030; '>[</span><span style='color:#808030; '>]</span>

<span style='color:#800000; font-weight:bold; '>for</span> prime <span style='color:#800000; font-weight:bold; '>in</span> primes<span style='color:#808030; '>:</span>
    
    <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#008c00; '>600851475143</span> <span style='color:#44aadd; '>%</span> prime <span style='color:#44aadd; '>==</span> <span style='color:#008c00; '>0</span><span style='color:#808030; '>:</span>
        
        divisors<span style='color:#808030; '>.</span>append<span style='color:#808030; '>(</span>prime<span style='color:#808030; '>)</span>
        
<span style='color:#800000; font-weight:bold; '>print</span><span style='color:#808030; '>(</span><span style='color:#400000; '>max</span><span style='color:#808030; '>(</span>divisors<span style='color:#808030; '>)</span><span style='color:#808030; '>)</span>
</pre>

		<p class='paragraphs'>Largest prime = 6857, run time = 348 ms</p>

	</div>


<br>
<br>

	<div class='content'>

		<h4 id='topic4'><center>Problem 4: Largest palindrome product</center></h4>

			<hr>

		<p class='paragraphs'><i>Date posted: 17/10/2019</i></p>

		<p class='paragraphs'><i>Problem rating: 5%</i></p>

		<p class='paragraphs'> A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers 
		is 9009 = 91 x 99. <b>Find the largest palindrome made from the product of two 3-digit numbers</b>.</p>

		<p class='paragraphs'>Let's first think about how we could optimize our code. If we take a naive approach, we might try to multiply the 
		number 100 by the numbers 100 through 999, check for and store any palindromes, then proceed to do the same thing for 101, etc. Immediately 
		we see that the products of 100 x 101 and 101 x 100 are redundant, so we are wasting time. Instead, we only need to check the multiples that 
		are greater than or equal to the number we are currently checking.</p>

		<p class='paragraphs'>Once we have our product, how do we use our code to check if it is a palindrome? We can't do this directly with integers, 
		but we could do it with string characters. For instance, suppose we wanted our program to check to see if the word "streetcar" was a palindrome. 
		We could have our code compare the first letter in the string to the last letter, the second letter to the second last letter, etc. So how then 
		do we make this possible for an integer like 10201? It's simple: we convert the type to string. If we determine that the string is a palindrome, 
		we can store its integer type in a list that we will call at the very end of the code to return the maximum of all the palindromes we found. 
		The code looks like this:</p>

<pre style='color:#000000;background:#ffffff;'>palindromes <span style='color:#808030; '>=</span> <span style='color:#808030; '>[</span><span style='color:#808030; '>]</span>

<span style='color:#800000; font-weight:bold; '>for</span> i in range<span style='color:#808030; '>(</span><span style='color:#008c00; '>100</span><span style='color:#808030; '>,</span><span style='color:#008c00; '>1000</span><span style='color:#808030; '>)</span><span style='color:#800080; '>:</span>
    
    <span style='color:#800000; font-weight:bold; '>for</span> j in range<span style='color:#808030; '>(</span>i<span style='color:#808030; '>,</span><span style='color:#008c00; '>1000</span><span style='color:#808030; '>)</span><span style='color:#800080; '>:</span>
        
        test <span style='color:#808030; '>=</span> True
        
        product <span style='color:#808030; '>=</span> i<span style='color:#808030; '>*</span>j
        pString <span style='color:#808030; '>=</span> str<span style='color:#808030; '>(</span>product<span style='color:#808030; '>)</span>
        L <span style='color:#808030; '>=</span> len<span style='color:#808030; '>(</span>pString<span style='color:#808030; '>)</span>
        
        <span style='color:#800000; font-weight:bold; '>for</span> k in range<span style='color:#808030; '>(</span>L<span style='color:#808030; '>)</span><span style='color:#800080; '>:</span>
            
            <span style='color:#800000; font-weight:bold; '>if</span> pString<span style='color:#808030; '>[</span>k<span style='color:#808030; '>]</span> <span style='color:#808030; '>!</span><span style='color:#808030; '>=</span> pString<span style='color:#808030; '>[</span>L<span style='color:#808030; '>-</span><span style='color:#008c00; '>1</span><span style='color:#808030; '>-</span>k<span style='color:#808030; '>]</span><span style='color:#800080; '>:</span>
                
                test <span style='color:#808030; '>=</span> False
                <span style='color:#800000; font-weight:bold; '>break</span>
                
        <span style='color:#800000; font-weight:bold; '>if</span> test <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> True<span style='color:#800080; '>:</span>
            
            palindromes<span style='color:#808030; '>.</span>append<span style='color:#808030; '>(</span>product<span style='color:#808030; '>)</span>

print<span style='color:#808030; '>(</span><span style='color:#603000; '>max</span><span style='color:#808030; '>(</span>palindromes<span style='color:#808030; '>)</span><span style='color:#808030; '>)</span>
</pre>

		<p class='paragraphs'>Largest palindrome = 906609, run time = 863 ms</p>

	</div>





		


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>