{% load static %}

<!DOCTYPE html>
<html>

<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>

    <link rel='stylesheet' type='text/css' href='{%static 'app1/main.css'%}'>

    <title>Forum</title>
  </head>

<style>

.banner {
  height: 100vh;
  background-color: #1e522c;
}

.title {
  background-color:#1e3f2c;
  color: #018268;
  font-size: 300%;
  text-shadow: 2px 2px 0px #000000;

}
.hline { 
  width:100%; 
  height:5px; 
  background: #000000;
 }

.auth_date_tab {
  margin-left:50px;
}

.message {
  margin-left:20px;
  color:#ffffff;
  font-size:125%;
}

.pg_btns {
  font-size: 200%;
}

.loggedin {
  color: #ff9600;
}

.nav_pgs {
  margin-left:20px;
  color:#000000;
  font-size: 150%
}


</style>

<body style="background-color:#1e522c;">
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark  fixed-top">
    <div class="container">
      <a class='navbar-brand mr-4' style='font-size:200%;color:#ff9600;'>Discussion Forum</a>
	<br>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href='{% url 'app-home' %}' style='color:#ff9600;'>Site-Home</a>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">


	{% if user.is_authenticated %}
	  <p class='"nav-item nav-link loggedin' style='color:#ff9600;'>Welcome {{user}}!</p>
	  <a class="nav-item nav-link" href='{% url 'post-create' %}' style='color:#ff9600;'>New Post</a>
	  <a class="nav-item nav-link" href='{% url 'logout' %}' style='color:#ff9600;'>Logout</a>
	 </div>
	
	{% else %}
          <a class="nav-item nav-link" href='{% url 'login' %}' style='color:#ff9600;'>Login</a>
          <a class="nav-item nav-link" href='{% url 'register' %}' style='color:#ff9600;'>Register</a>
        </div>
	{% endif %}

      </div>
    </div>
  </nav>
</header>

<div class='banner'>

{% block content %}

	{% for post in posts %}

		<a class='auth_date_tab' href='#'>Author: {{post.author}}</a>
		<br>
		<img src='{{post.author.profile.image.url}}'>
		<br>
		<small class='text-muted auth_date_tab'>Date: {{post.date_posted|date:'F d,Y'}}</small>
		<br>
		<a class='' href='{% url 'post-detail' post.id %}'><center>Topic: {{post.title}}</center></a>
		<br><br><br>
		<p class='message'>{{post.content}}</p>
	<div class='hline'></div>

	{% endfor %}

	<p class='nav_pgs'>Navigate Forum</p>

	{% if is_paginated %}

		{% if page_obj.has_previous %}
			<center><a class='btn-outline-info mb-4 pg_btns' href='/forum/?page=1'>Newest Posts</a>
			&nbsp;&nbsp&nbsp;&nbsp
			<a class='btn-outline-info mb-4 pg_btns' href='/forum/?page={{page_obj.previous_page_number}}'>Prev</a></center>
		{% endif %}

	{% endif %}

	{% for num in page_obj.paginator.page_range %}
	&nbsp;&nbsp&nbsp;&nbsp
		{% if page_obj.number == num %}
			<a class='btn-info mb-4 pg_btns' href='/forum/?page={{num}}'>{{num}}</a>
		{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
			<a class='btn-outline-info mb-4 pg_btns' href='/forum/?page={{num}}'>{{num}}</a>
		{% endif %}
		
	{% endfor %}

	{% if page_obj.has_next %}

		<center><a class='btn-outline-info mb-4 pg_btns' href='/forum/?page={{page_obj.next_page_number}}'>Next</a>
		&nbsp;&nbsp&nbsp;&nbsp
		<a class='btn-outline-info mb-4 pg_btns' href='/forum/?page={{page_obj.paginator.num_pages}}'>Last</a></center>

	{% endif %}

{% endblock content%}

</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>