<!DOCTYPE html>
<html>

<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
    <title>Graph Theory</title>
  </head>

<style>

.border {
	padding: 40px;
	overflow-x: hidden;
	-webkit-box-shadow:
		inset #b4b29a 0 0 0 5px,
		inset #9fb29a 0 0 0 1px,
		inset #9f9f88 0 0 0 10px,
		inset #9f8d88 0 0 0 11px,
		inset #7e8d88 0 0 0 16px,
		inset #59725f 0 0 0 17px,
		inset #41635f 0 0 0 22px,
		inset #000000 0 0 0 23px;
	-moz-box-shadow:
		inset #b4b29a 0 0 0 5px,
		inset #9fb29a 0 0 0 1px,
		inset #9f9f88 0 0 0 10px,
		inset #9f8d88 0 0 0 11px,
		inset #7e8d88 0 0 0 16px,
		inset #59725f 0 0 0 17px,
		inset #41635f 0 0 0 22px,
		inset #000000 0 0 0 23px;
	box-shadow:
		inset #b4b29a 0 0 0 5px,
		inset #9fb29a 0 0 0 1px,
		inset #9f9f88 0 0 0 10px,
		inset #9f8d88 0 0 0 11px,
		inset #7e8d88 0 0 0 16px,
		inset #59725f 0 0 0 17px,
		inset #41635f 0 0 0 22px,
		inset #000000 0 0 0 23px;
}

.toplinks {
	float:right;
	padding:10px;
	margin:8px;
}

.maintitle {
	font-size:200%;
	text-align:left;
	padding:8px;
	margin:8px;
}

#toc_container {
	background: #b4cb9a none repeat scroll 0 0;
	border: 1px solid #000000;
        display: table;
        font-size: 95%;
        margin-bottom: 1em;
        padding: 15px;
        width: auto;
	margin:8px;
}

.toc_title {
        font-weight: 700;
        text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
        list-style: outside none none !important;
}

.introduction {
	margin: 10px;
	overflow-wrap: break-word;
}

.content {
	margin: 8px;
}

hr {
    border: 0;
    height: 2px;
    margin:2px;
    position:relative;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4d09a', endColorstr='#b4d09a;',GradientType=1 ); /* IE6-9 */
}

hr:before {
    content: "";
    display: block;
    border-top: solid 1px #b4d09a;
    width: 100%;
    height: 1px;
    top: 50%;
    z-index: 1;
}

.latex {
  background-color: #ffffff;
  margin: 8px;
  padding: 8px;
}

.paragraphs {
	font-size:100%;
	margin:8px;
	padding:8px;
	overflow-wrap: break-word;
}
</style>

<body style='background-color:#b4d09a;'>


	<a class='toplinks' href='{% url 'app-home' %}'>Return Home</a>
	<a class='toplinks' href='{% url 'forum' %}'>Go to Forum</a>

	<h1 class='maintitle'>Graph Theory</h1>

	<hr>

	<div id="toc_container">
		<p class="toc_title">Contents</p>
			<ul class="toc_list">
  				<li><a href="#topic1">1. History of Graph Theory</a></li>
				<li><a href="#topic2">2. Terminology of Graphs</a></li>
				<li><a href="#topic3">3. Graphs and their Degree Sequences</a></li>
				<li><a href="#topic4">4. Graph Isomorphisms</a></li>
				<li><a href="#topic5">5. Graph Classes</a></li>
				<li><a href="#topic6">6. Subgraphs</a></li>
				<li><a href="#topic7">7. Adjacency Matrices and Graph Eigenvalues</a></li>
				<li><a href="#topic8">8. Paths, Trees and Forests</a></li>
				<li><a href="#topic9">9. Spanning Trees, Bridges and Banks</a></li>
				<li><a href="#topic10">10. Vertex Colorings, Critical Graphs</a></li>
				<li><a href="#topic11">11. Edge Colorings</a></li>
			</ul>
	</div>

	<div class='introduction'>
		
	</div>

	<div class='content'>

		<h4 id='topic1'><center>History of Graph Theory</center></h4>

			<hr>

			<p class='paragraphs'>Consider the 18th century problem of 
			<a href='https://en.wikipedia.org/wiki/Seven_Bridges_of_K%C3%B6nigsberg'>the seven bridges of Konigsberg</a>. In one of 
			the areas of the city lie a network of rivers and bridges, as seen in the diagram below.</p>

			<center><img src='https://upload.wikimedia.org/wikipedia/commons/5/5d/Konigsberg_bridges.png' width=250 height=250 /></center>

			<p class='paragraphs'>The problem is outlined as follows: Is there a way for a person to travel along each bridge, but only 
			exactly once? In the year 1736, Euler was able to prove that the answer is a definitive no. Given a few trial runs, we may be 
			able to convince ourselves that Euler's conclusion is indeed correct. Only by developing a new form of mathematical analysis, 
			<b>graph theory</b>, was Euler able to show with absolute certainty that indeed there is no solution to this problem, as well as 
			solving a whole host of related problems.</p>

			<p class='paragraphs'>In the map above, we can consider the city of Konisberg to be a planar space. We can think of each land mass as a vertex and the 
			bridges connecting the land masses as edges connecting the vertices:</p>

			<center><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/K%C3%B6nigsberg_graph.svg/180px-K%C3%B6nigsberg_graph.svg.png'width=250 height=250 /></center>

			<p class='paragraphs'>In this way, we are only keeping information relevant to the problem in the diagram and removing all the other 
			details. These schematics like the one above are known as <b>graphs</b>.

<br>

	</div>

	<div class='content'>

		<h4 id='topic2'><center>Terminology of Graphs</center></h4>

			<hr>

			<p class='paragraphs'><b>Vertices</b> are points on a graph that represent some kind of data. These vertices can be connected 
			by <b>edges</b>. <b>Faces</b> are parts of the plane that are enclosed by edges. If we can draw these vertices and edges such 
			that no edges intersect each other, the graph is called a <b>planar graph</b>.</p>

<center><img src="https://i.ibb.co/YPR0GYY/graph-theory1.png" width=300 height=250 alt="graph-theory1" border="0"><br /><br /></center>

			<p class='paragraphs'>In the example shown above, the vertices are A, B, C and D. The edges are AB, AC, BC and CD as they connect 
			these vertices. There are two faces: the one enclosed by ABC, and the rest of the plane. The graph above is planar because the edges 
			do not intersect eachother.</p>

			<p class='paragraphs'>The <b>degree of a vertex</b> is equivalent to the number of edges that extrude from it. In the example above, 
			the degree of vertex C is 3, while the degree of vertex D is 1. The <b>order</b> of the graph is just the number of vertices it 
			contains. The above example has order 4. Two vertices are said to be <b>adjacent</b> if there is an edge that connects them. 
			Below is an example of another planar graph as well as a graph that is not planar.</p>

<center><img src="https://i.ibb.co/gmTnh94/graph-theory2.png" width=300 height=250 alt="graph-theory2" border="0"></center>

			<p class='paragraphs'>Let V be any finite set. Then we denote</p>

			<div lang='latex'>[V]^{k}</div>

			<p class='paragraphs'>to be the set of all subsets of V of size k. For our purposes, we will only be focusing on the case k = 2. 
			For example:</p>
			
			<div lang='latex'>
				V = \{a,b,c,d\} \\
				\phantom{aaa} [V]^{2} = \{ \{a,b\}, \{a,c\},\{a,d\},\{b,c\},\{b,d\},\{c,d\}\}
			</div>

			<p class='paragraphs'>A <b>finite simple graph</b> G is given by</p>

			<div lang='latex'>
				G = (V,E) \\
				\phantom{aaa} E \subseteq [V]^{2}
			</div>

			<p class='paragraphs'>Take the following example:</p>

			<div lang='latex'>
				V = \{a,b,c,d\} \\
				\phantom{aaa} E = \{ \{a,b\}, \{a,c\},\{b,c\},\{c,d\}\}
			</div>

			<p class='paragraphs'>This can be visually represented by the image below.</p>

<center><img src="https://i.ibb.co/92BMQqt/graph-theory3.png" width=300 height=250 alt="graph-theory3" border="0"></center>
			
<br>

	</div>

	<div class='content'>

		<h4 id='topic3'><center>Graphs and their Degree Sequences</center></h4>

		<hr>

		<p class='paragraphs'>We begin this section with the following theorem. Let G = (V,E) be a finite simple graph. Then</p>

			<div lang='latex'>
				\sum_{v \epsilon V} deg(v) = 2|E|
			</div>

		<p class='paragraphs'>This is known as the <b>degree sum theorem</b>. In words: the sum of the degrees of all vertices is twice the number 
		of edges. The proof for this is rather trivial: every edge must be connected to two and only two vertices. QED </p>

		<p class='paragraphs'>A <b>degree sequence</b> of G = (V,E) is the sequence of degrees of vertices of G in decreasing order. A sequence of 
		non-negative integers in decreasing order is <b>graphic</b> if it is the degree sequence of some graph. Let's look at some examples.</p>

		<p class='paragraphs'><b>Ex.</b> The degree sequence given by 1, 1, 1 is not graphic because it cannot represent a graph. In this case, the 
		graph would have to contain three vertices, and each vertice would have to be adjacent to exactly one other vertice. This is impossible.</p>

		<p class='paragraphs'><b>Ex.</b> The degree sequence given by 1, 1, 1, 1 is graphic. See the diagram below for an example of a graph with 
		this degree sequence.</p>

<center><img src="https://i.ibb.co/hFgRh3p/graph-theory4.png" height=250 width=300 alt="graph-theory4" border="0"></center>

		<p class='paragraphs'>We now come to the <b>hand shaking lemma</b>. Let G = (V,E) be a finite simple graph. Then the number of vertices in 
		G with odd degree must be an even amount. Stated otherwise:</p>

			<div lang='latex'>
				V = (V_{even}) U (V_{odd}) \\ \\
				\phantom{aaa} V_{odd} \ mod(2) = 0
			</div>

		<p class='paragraphs'>So, for example, we know that the degree sequence given by 5, 4, 3, 2, 2, 2, 1 is not graphic. A degree sequence like 
		4, 3, 2, 2, 2, 1, 1, 1, 0 could be graphic, but we do not know from the hand shaking lemma. We simply cannot rule out the possibility that it 
		is graphic from the lemma. A better tool for this is theorem by Hakimi, which we now state.</p>

		<p class='paragraphs'>Consider sequences given by</p>

			<div lang='latex'>
				(1)  s_{1}, t_{1}, ... , t_{s}, d_{1},...,d_{n} \\ \\
				\phantom{aaa} (2) t_{1}-1, ... , t_{s}-1, d_{1},...,d_{n}
			</div>

		<p class='paragraphs'>Where both sequences are decreasing. Then (1) is graphic if and only if (2) is graphic. Take the following 
		sequence: 6, 6, 6, 6, 4, 3, 3, 0. We begin by observing that we cannot dismiss this sequence as not graphical from the hand shakeing 
		lemma. However, we can see that the sequence takes the form of (1) in the above theorem. Applying the theorem, we get</p>

			<div lang='latex'>
				 6, 6, 6, 6, 4, 3, 3, 0 \\ 
				\phantom{aaa} \ \ \ 5, 5, 5, 3, 2, 2, 0 \\
				\phantom{aaa} \ \ \ \ \ \4, 4, 2, 1, 1, 0 \\
				\phantom{aaa} \ \ \ \ \ \ \ \ \ 3, 1, 0, 0, 0 \\
			</div>

		<p class='paragraphs'>The last sequence is clearly not graphic, as show below:</p>

<center><img src="https://i.ibb.co/jgvG1g8/graph-theory5.png" height=250 width=300 alt="graph-theory5" border="0"></center>


		<p class='paragraphs'>So then we know the original sequence cannot be graphic either.</p>

	</div>

	<div class='content'>

		<h4 id='topic4'><center>Graph Isomorphisms</center></h4>

			<hr>

		<p class='paragraphs'>In considering graphs, we are especially interested in the structure of each graph (ex its degree, its degree sequence, 
		etc.) rather than how it can be drawn. Take the following two graphs:</p>

<center><img src="https://i.ibb.co/51tg6LZ/graph-isomorphic.png" height=250 width=300 alt="graph-isomorphic" border="0"></center>

		<p class='paragraphs'>Though they have been drawn differently, the two graphs have the same number of edges, degree and degree 
		sequence. The overall structure of the graphs are identical. This is is contrast to the two graphs given by:</p>

<center><img src="https://i.ibb.co/fXG6KXb/graph-noniso.png" height=250 width=300 alt="graph-noniso" border="0"></center>

		<p class='paragraphs'>Though these two graphs have the same number of degree and edges, they differ in degree sequence. The first graph has 
		a degree sequence of 3, 1, 1, 1 while the second graph has a degree sequence of 2, 2, 1, 1. These two graphs are structurally different. This 
		leads us to the following definition.</p>

		<p class='paragraphs'>Two finite simple graphs</p>

			<div lang='latex'>
				G_{1} = (V_{1},E_{1}) \ \ \ G_{2} = (V_{2},E_{2})
			</div>

		<p class='paragraphs'>are said to be <b>isomorphic</b> if there exist a bijection</p>

			<div lang='latex'>
				f: \ V_{1} \ \longrightarrow \ V_{2}
			</div>

		<p class='paragraphs'>that satisfies the following condition: For and u and v in V1 that are adjacent in G1, f(u) and f(v) 
		are in V2 and are adjacent in G2.</p>

		<p class='paragraphs'>The diagram below shows all graphs of degree 3 up to isomorphism.</p>

<center><img src="https://i.ibb.co/CHF49h0/graph-theory-iso3.png" height=250 width=300 alt="graph-theory-iso3" border="0"></center>

		<p class='paragraphs'>There are certain structural properties of a graph that will remain unchanged under isomorphism. Such a concept 
		is known as </b>isomorphic invariance</b> of a graph. There are many examples of these, and we will discuss a few now.</p>

		<p class='paragraphs'>The order of a graph G = (V,E) : |V| is one such isomorphic invariant. In other words, if we have to graphs that 
		are isomorphic, then they must contain the same number of vertices. This is a trivial result.</p>

		<p class='paragraphs'>The degree sequence of a graph must be isomorphic invariant, as must the sum of all degrees of a graphs vertices. 
		From this it also follows that the number of edges of a graph is an isomorphic invariant.</p>


	</div>

<br>
<br>

	<div class='content'>

		<h4 id='topic5'><center>Graph Classes</center></h4>

			<hr>

		<p class='paragraphs'>Certain types of graphs are important and frequent enough that they deserve their own classification. Here is a 
		selection of some of these graphs.</p>

		<p class='paragraphs'><b>Path of length n</b></p>

		<div lang='latex'>
			P_{n} = (V = \{0,1,...,n\}, \ E = \{(i,i+1) \ | \ i = 0,...n-1 \})
		</div>

<center><img src="https://i.ibb.co/qgXrtRm/path-of-length-n.png" alt="path-of-length-n" border="0" height=250 width=300></center>

		<p class='paragraphs'><b>Cycle of length n</b></p>

		<div lang='latex'>
			C_{n} = (V = \mathbb{Z} / \mathbb{Z}_{n}, \ E = \{(i,i+1) \ | \ i \ \epsilon \ \mathbb{Z} / \mathbb{Z}_{n} \} )
		</div>

<center><img src="https://i.ibb.co/y8nWCsj/cycle-of-length-n.png" height=250 width=300 alt="cycle-of-length-n" border="0"></center>


		<p class='paragraphs'><b>Complete graph on n vertices</b></p>

		<div lang='latex'>
			K_{n} = (V = \{(1,...,n\}, \ E = [V]^{2} )
		</div>

		<p class='paragraphs'>In other words, all vertices are connected to each other.</p>

<center><img src="https://i.ibb.co/096C7RY/complete-graph-on-n-vertcies.png" alt="complete-graph-on-n-vertcies" border="0" height=250 width=300></center>


		<p class='paragraphs'><b>Complete bi-partite graph on n and m vertices</b></p>

		<div lang='latex'>
			K_{n,m} = (V = V_{1} \ U \ V_{2}, \ E = \{(v_{1},v_{2}) \ | \ v_{1} \ \epsilon \ V_{1} \ \ v_{2} \ \epsilon \ V_{2} ) \\
			\phantom{aaa} |V_{1}| = n, \ |V_{2}| = m
		</div>

		<p class='paragraphs'>In other words, every vertex in V1 connects with a vertex in V2, however no vertices in V1 are adjacent with other 
		vertices in V1, and the same is true of V2.</p>

<center><img src="https://i.ibb.co/p0vj69D/bipartite.png" alt="bipartite" border="0" height=250 width=300></center>

		<p class='paragraphs'><b>Wheel on n-vertices</b></p>

		<div lang='latex'>
			W_{n} = C_{n} + V(\text{connected to every vertex in C})
		</div>

		<p class='paragraphs'>For example, W4 would look like this:</p>

<center><img src='https://i.ibb.co/9NRbpqB/wheel4.png' width=300 height=250></center>

		<p class='paragraphs'>Notice how for the wheel on n-vertices, the number of vertices in the graph is n + 1.</p>

	</div>

<br>
<br>

	<div class='content'>

		<h4 id='topic6'><center>Subgraphs</center></h4>

			<hr>

		<p class='paragraphs'>Loosely speaking, a <b>subgraph</b> H of a graph G = (V,E) is a graph that is a smaller version of G. That is to 
		say, we can take out some of the edges and/or vertices of G, and if we are still left with a graph, then we have obtained a subgraph of 
		F. In this sense, the vertices of H are a subset of the vertices of G, and the edges of H are a subset of the edges of G. Take the following 
		example:</p>

<center><img src="https://i.ibb.co/7gf59z9/subgraph.png" alt="subgraph" border="0" height=250 width=300></center>

		<p class='paragraphs'>Clearly, the graph H is a subgraph of G. A nice thing about subgraphs is the following: If a given graph G has a 
		subgraph H and G is isomorphic to G', then there will exist a subgraph of G', H', such that H is isomorphic to H'.</p>

	</div>

<br>
<br>

	<div class='content'>

		<h4 id='topic7'><center>Adjacency Matrices and Graph Eigenvalues</center></h4>

			<hr>

		<p class='paragraphs'>Let's look at the following two isomorphic graphs:</p>

<center><img src="https://i.ibb.co/gRd5BFf/adjacency-graphs.png" alt="adjacency-graphs" border="0" height=250 width=300></center>

		<p class='paragraphs'>We can create an <b>adjancency matrix</b> for each graph, where the ij-th entry is equivalent to 1 if the 
		vertex i is adjacenty to the vertex j, and 0 otherwise. In the first example, the matrix would be</p>

		<div lang='latex'>
			\begin{bmatrix}
				0&1&0 \\
				1&0&1 \\
				0&1&0
			\end{bmatrix}
		</div>

		<p class='paragraphs'>And the second matrix would be given by:</p>

		<div lang='latex'>
			\begin{bmatrix}
				0&1&1 \\
				1&0&0 \\
				1&0&0
			\end{bmatrix}
		</div>

		<p class='paragraphs'>There are some properties of adjacency matrices that are evident:</p>

		<ul>
			<li>All diagonal entries must be 0</li>
			<li>The sum of entries in the ith row or column is the same as the degree as the ith vertex</li>
			<li>The sum of all entries in all rows/columns is the same as the sum of the degrees of all vertices of the graph</li>
			<li>They are symmetric</li>
			<li>The sum of all eigenvalues are zero</li>
		</ul>

		<p class='paragraphs'>This last point is not as obvious. But in fact it implies something stronger: all adjaceny matrices of a graph 
		G = (V,E) have the same eigenvalues, regardless of how we choose to enumerate the vertcies. In other words: the <b>characteristic 
		polynomial of a graph G</b> is the characteristic polynomial for any of the adjacency matrices of G.</p>

		<p class='paragraphs'>An <b>induced subgraph</b> of a graph G = (V,E) is a subgraph H = (V',E'), where V' is a subset of V, and E' contains 
		all the edges in G between elements in V'.</b>

		<p class='paragraphs'>Given a finite simple graph G, we define the following quantities:</p>

		<div lang='latex'>
			\Delta(G) = \max_{v \ \epsilon \ V} \{deg(V)\} \\ \\
			\phantom{aaa} \delta(G) = \min_{v \ \epsilon \ V} \{deg(V)\}
		</div>

		<p class='paragraphs'>Now we have the following theorem which relates the spectrum of eigenvalues of a graph G to the maximum of the 
		above values. Suppose G is a finite simple graph. Then</p>

		<div lang='latex'>
			-\Delta(G)  \ \leq \ \lambda \ \leq \ \Delta(G) \ \ \forall \ \lambda \ \epsilon \ spec(G)
		</div>

		<p class='paragraphs'>Proof: Let x be an eigenvector that is not 0. Then we have</p>

		<div lang='latex'>
			Ax = \lambda x \\ \\
			\phantom{aaa} |\lambda||x_{i}| = |\lambda x_{i}| \\ \\
			\phantom{aaa} = |(\lambda x)_{i}| \\ \\
			\phantom{aaa} = |(Ax)_{i}| \\ \\
			\phantom{aaa} = |\sum_{j=1}^{n} a_{ij}x_{j}| \\ \\
			\phantom{aaa} \leq \sum_{j=1}^{n} (a_{ij}|x_{j}|) \ \ \(by \ \Delta \ inequality) \\ \\
			\phantom{aaa} \leq (\sum_{j=1}^{n} a_{ij})|x_{i}| \\ \\
			\phantom{aaa} = deg(V_{i}|x_{i} \\ \\
			\phantom{aaa} \implies |\lambda||x_{i}| \ \leq \ \Delta(G)|x_{i}| \\ \\
			\phantom{aaa} |\lambda| \ \leq \ \Delta(G)
		</div>

		<p class='paragraphs'>QED</p>


	</div>
<br>
<br>

	<div class='content'>

		<h4 id='topic8'><center>Paths, Trees and Forests</center></h4>

			<hr>

		<p class='paragraphs'>Let G = (V,E) be a finite, simple graph. A <b>path</b> from a vertex a to a vertex b (in V of course) is a 
		subgraph of G isomorphic to the path of length n (for some n) with a and b as end vertices. Below we have an example of graph G and 
		a path of G.</p>

<center><img src="https://i.ibb.co/4gcQF7t/path.png" height=250 width=300></center>

		<p class='paragraphs'>We can see that H contains the path of length 4 that is isomorphic to a particular path in G, wo we have identified 
		a path in G.</p>

		<p class='paragraphs'>G is called <b>connected</b> if for any vertices a and b in V, there exists a path from a to b. The graph G above 
		is an example of a connected graph, however the graph below is not.</p>

<center><img src="https://i.ibb.co/PGYxG8f/fail-connected.png" height=250 width=300></center>

		<p class='paragraphs'>It fails because, for instance, we could choose the vertices B and C and we would be unable to find a path of length 
		n that connects them.</p>

		<p class='paragraphs'>A <b>connected component</b> of G is a maximally connected subgraph of G. Now we arrive at the following theorem about 
		connected graphs:</p>

		<p class='paragraphs'>If G = (V,E) is a connected graph, then</p>

		<div lang='latex'>
			|V| \ \leq \ |E| \ + 1
		</div>

		<p class='paragraphs'>A <b>tree</b> is a connected acyclic graph. Below are some examples of trees (note how they do not close like a loop, 
		which is what we mean by acyclic).</p>

<center><img src="https://i.ibb.co/596wpBm/trees.png" height=250 width=300></center>

		<p class='paragraphs'>Vertices of degree one of a tree are called <b>end vertices</b>. Now we have the following theorem about trees:</p>
		<br>
		<p class='paragraphs'>(i) If G is a tree, then V = |E| + 1.</p>
		<p class='paragraphs'>(ii) If G is connected and V = |E| + 1, then G is a tree.</p>

		<p class='paragraphs'>A <b>forest</b> is any acyclic graph. A graph G = (V,E) is a forest if |V| = |E| + N, where N is the number of connected  
		components.</p>

	</div>


<br>
<br>

	<div class='content'>

		<h4 id='topic9'><center>Spanning Trees, Bridges and Banks</center></h4>

			<hr>

		<p class='paragraphs'>Suppose we have a graph G = (V,E). We call H = (V',E') with V = V' a <b>spanning subgraph</b> of G. In words, 
		this means that H will have the same number of vertices as G, but a subset of its edges. A <b>spanning tree</b> of G is a spanning 
		subgraph of G that is also a tree. Take the example below</p>

<center><img src='https://i.ibb.co/ZgNwK8r/spanning-tree.png' height=250 width=300></center>

		<p class='paragraphs'>Here we see that H is a spanning tree of G. It might also be obvious to state the following theorem at this 
		point: If G = (V,E) is connected, then it has a spanning tree.</p>

		<p class='paragraphs'>An edge e in a graph G is a <b>bridge</b> if G is connected and G-e is not connected. In the example below, 
		e is a bridge of G. If we removed e, G would no longer be connected.</p>

<center><img src='https://i.ibb.co/Dz1p3GB/bridge-bank.png' height=250 width=300></center>

		<p class='paragraphs'>In the above graph, the subgraphs h1 and h2 are called <b>banks</b>. Two connected components are called banks. 
		If e is a bridge in G and H1 and H2 are banks, then we have: s(G) = s(H1)s(H2), where s stands for the number of spanning trees in a 
		graph. In the above example, s(H1) = 3 and s(H2) = 3, so s(G) = 9.</p>

		<p class='paragraphs'>Recall that Kn is the complete graph on n vertices. Then we have the following fact about the number of spanning 
		trees for Kn:</p>

		<div lang='latex'>
			s(k_{n}) = n^{n-2}
		</div>

		<p class='paragraphs'>Take the example of k3 below. We can find 3 trees for k3, and indeed, 3 to the power of 3-2 is 3.</p>

<center><img src='https://i.ibb.co/QpNSCY2/spanning-kn.png' height=250 width=300></center>

		<p class='paragraphs'>Note also that although each tree is isomorphic to the other, this is not what we are interested in. We are 
		focused on how many trees we can make that are not identitical up to a <b>labelling</b> of the vertices.</p>

		<p class='paragraphs'>Recall that Kn,m is the complete bipartite graph on m and n vertices. Then we have the following fact about 
		the number of spanning trees for Kn,m:</p>

		<div lang='latex'>
			s(k_{n,m}) = m^{n-1}n^{m-1}
		</div>

		<p class='paragraphs'>In general, it is difficult to simply enumerate by the naked eye how many spanning trees a particular graph G 
		may have. Fortunately, there is the following theorem that will help us compute this quantity for a graph G = (V,E).</p>

		<p class='paragraphs'>Let G = (V,E) be a graph with adjacency matrix A. If D is the matrix given by</p>

		<div lang='latex'> D = 
			\begin{bmatrix}
				d_{1}&0&...&0 \\
				0&d_{2}&...&0 \\
				0&0&...&d_{n}
			\end{bmatrix} \\ \\

		\phantom{aaa} d_{i} = deg(V_{i})
		</div>

		<p class='paragraphs'>Then we define the matrix L = D - A and the matrix M obtained by deleting the last row and the last column of L. 
		Then we have s(G) = det(M).</p>

		<p class='paragraphs'>Consider the following example:</p>

<center><img src='https://i.ibb.co/3B52WTv/s-g-example.png' height=250 width=300></center>

		<p class='paragraphs'>For this graph, we have:</p>

		<div lang='latex'> D = 
			\begin{bmatrix}
				2&0&0&0 \\
				0&2&0&0 \\
				0&0&1&0 \\
				0&0&0&3 \\
			\end{bmatrix} \\ \\ \\
			\phantom{aaa} A = 
			\begin{bmatrix}
				0&1&0&1 \\
				1&0&0&1 \\
				0&0&0&1 \\
				1&1&1&0 \\
			\end{bmatrix}
		</div>

		<p class='paragraphs'>We obtain L from the difference of D and A, and M from the deletion of the 4th row and 4th column of L:</p>

		<div lang='latex'> L = 
			\begin{bmatrix}
				2&-1&0&1 \\
				-1&2&0&-1 \\
				0&0&1&0 \\
				-1&-1&-1&3 \\
			\end{bmatrix} \\ \\ \\
			\phantom{aaa} M = 
			\begin{bmatrix}
				2&-1&0 \\
				-1&2&0 \\
				0&0&1 \\
			\end{bmatrix}
		</div>

		<p class='paragraphs'>From this we have det(M) = 3. In this case, we can directly count the number of spanning trees of G by construcing 
		them if we please.</p>

	</div>


<br>
<br>

	<div class='content'>

		<h4 id='topic10'><center>Vertex Colorings, Critical Graphs</center></h4>

			<hr>

		<p class='paragraphs'>So far we have only discussed graphs without putting any emphasis on vertex labelling. There are a few ways to include 
		labelling, and one works as follows. Suppose we have some graph G = (V,E) and we want to label the vertices on the graph such that no two 
		adjacent vertices share the same label. This type of labelling is known as <b>vertex coloring</b>. The term coloring comes from the idea that 
		we might use colors to label our vertices. This, however, introduces a quick inconvenience as we make our graphs arbitrarily large. Instead, 
		we will "color" our graphs using numbers and say that a graph G has a vertex coloring if no two adjacent vertices share the same number.</p>

		<p class='paragraphs'>Having this definition, a natural question now arises. Given a graph G = (V,E), what is the minimal amount of labels we 
		can use so that the graph is vertex colored? This leads us to the following definition:</p>

		<p class='paragraphs'><b>Chromatic number</b> of graph G = (V,E):</p>

		<div lang='latex'>
			\mathcal{X}(G) = inf\{n \ | \ \exists \ \text{a n-coloring of G}\}
		</div>

		<p class='paragraphs'>So the Chromatic number, in words, is the smallest possible number of labels (n) that we can use to create the a vertex 
		coloring of G. Take the following examples:</p>

<center><img src='https://i.ibb.co/tLXzysy/vertex-coloring.png' height=250 width=300></center>

		<p class='paragraphs'>The graph on the left is not a vertex coloring since there are two vertices adjacent to each other both with the label 
		of one. The middle graph is a vertex coloring since no two adjacent vertices share the same label. The graph on the right is also a vertex 
		coloring, and in addition also contains the minimum number of labels to make this possible. Therefore, the chromatic number of C5 is 3.</p>

		<p class='paragraphs'>Here are some useful facts about particular graph classes and their chromatic number:</p>

		<div lang='latex'>
			\mathcal{X}(C_{n}) = 
			\begin{cases}
  				  2,& \text{if n is even } \\
    				  3,              & \text{if n is odd} \\
			\end{cases}
		</div>

		<div lang='latex'>
			\mathcal{X}(K_{n}) = n \\ \\
		</div>

		<div lang='latex'>
			\mathcal{X}(W_{n}) = 
			\begin{cases}
  				  3,& \text{if n is even } \\
    				  4,              & \text{if n is odd} \\
			\end{cases}
		</div>

		<p class='paragraphs'>Another natural question that arises is in relation to subgraphs of a vertex colored graph G. That is, if we remove a vertex 
		from G, is it possible that the new subgraph, say H, has the same chromatic number? In general this is possible, but in special cases, there is no 
		vertex we could remove from G that would not reduce the chromatic number of the new subgraph. This leads us to the following definition.</p>

		<p class='paragraphs'>A graph G = (V,E) is called <b>critical</b> if for any proper subgraph H of G, the chromatic number of H is strictly less 
		that the chromatic number of G.</p>

		<p class='paragraphs'>To see an example of this, consider the graph of the wheel on 5 vertices, W5.</p>

<center><img src='https://i.ibb.co/Lh4vZ2K/critcal-Wheel-Five.png' width=300 height=250></center>

		<p class='paragraphs'>The graph on the left is W5, which has chromatic number four. Now if we want to show that it is critical, we need to show that 
		any proper subgraph of W5 has a chromatic number less than four. At first this may seem daunting, but we can realize the following: there are only 
		two subgraphs, say H1 and H2, of W5 up to isomorphism that are created by the removal of one edge. Therefore, if we can show these two subgraphs of 
		W5 have a chromatic number less than four, we are done. We don't have to test any other proper subgraphs of W5 since they will be considered proper 
		subgraphs of the graphs H1 and H2 and therefore have a chromatic number less than or equal to the chromatic numbers of H1 and H2. As you can see in 
		the center and right graphs, the chromatic numbers of these two proper subgraphs are both three. Thus we have shown that W5 is a critical graph.</p>

		<p class='paragraphs'>We now state the following two facts about critical graphs:</p>

		<ol class='paragraphs'>
			<li>If a graph G = (V,E) is critical, it must be connected</li>
			<li>For a graph G = (V,E), there exists a subgraph H with H being critical and the chromatic number of H is equivalent to that of G</li>
			<li>If a graph G = (V,E) is critical, then the degree of any vertex v in V must be greater than or equal to the chromatic number of 
			G minus 1:</li>
				<center><div lang='latex'>deg(v) \ \geq \ \mathcal{X}(G) - 1</div></center>
			<li>If a graph G = (V,E) is critical, then</li>
				<center><div lang='latex'>(\mathcal{X}(G) - 1) \ \leq \ 2|E|</div></center>
		</ol>

		<p class='paragraphs'>A couple of more definitions: The <b>girth</b> of a graph G is the length of the shortest cycle in G. If no cycle 
		exists in G, the girth is said to be infinite.</p>

		<p class='paragraphs'>The <b>distance</b> between two points x and y in G, denoted d(x,y), is the shortest number of edges between x and y</p>

		<p class='paragraphs'>Something that we won't go into detail on, but mention here because of its importance in graph theory is the following: 
		suppose we have a graph G = (V,E), and suppose that C(n) is the number of ways to n-color G. Then it is a fact that there exists a polynomial, 
		say P(x), with the following properties:</p>

		<ul class='lists'>
			<li>P(n) = C(n)</li>
			<li>the degree of P is equal to the degree of G</li>
			<li>P(x) has a leading coefficient of 1, and in fact, all its coefficients are integers</li>
		</ul>

		<p class='paragraphs'>P(x) is called the <b>chromatic polynomial</b> of G.</p>

	
	</div>




<br>
<br>

	<div class='content'>

		<h4 id='topic11'><center>Edge Colorings</center></h4>

			<hr>

		<p class='paragraphs'>So far, we have defined a way to color graphs using its vertices. Another logical way to color a graph would be using 
		its edges. Let G = (V,E) be a graph. A <b>proper edge k-coloring</b> of G is one where we can find a labelling of E such that no two edges 
		share the same label. (NB - an <b>edge coloring</b> is simply ANY labelling of E. A proper edge k-coloring is a much stronger condition)</p>

		<p class='paragraphs'>The <b>edge chromatic number</b> of G is the smallest number of labels needed for a proper k-coloring of G. This number 
		is denoted <b>X'(G)</b>. Now we arrive at the follwing facts:</p>

		<div lang='latex'>
			(i) \ \mathcal{X}'(G) \ \geq \ \Delta G = \max_{v \ \epsilon \ V} \{deg(v)\} \\ \\
			\phantom{aaa} (ii) \ \text{(Vizing Theorem)   If G = (V,E) is regular, then} \\ \\
			\phantom{aaa} \Delta G \ \leq \ \mathcal{X}'(G) \ \leq \ \Delta G + 1 \\ 
			\phantom{aaa} \text{recall a regular graph is one where each vertex has the same degree} \\ \\
			\phantom{aaa} (iii) \ \mathcal{X}'(K_{2n}) = 2n - 1 = \mathcal{X}'(K_{2n-1})
		</div>

		<p class='paragraphs'>A <b>matching</b> on a graph G = (V,E) is a subset M of E where no two edges in the subset are adjacent to each other. 
		Take the following example:</p>

<center><img src='https://i.ibb.co/Pcmxb3t/matching.png' height=250 width=300></center>

		<p class='paragraphs'>The graph G on the far left is a proper edge 2-coloring, and each of the subgraphs on the right is an example of a 
		matching. Note how the case of one edge will always be a matching, since it cannot possibly be adjacent to any other edges in G.</p>

		<p class='paragraphs'>A matching is called a <b>maximal matching</b> if by adding another edge to the matching, we would then no longer 
		have a matching. A </b>perfect matching</b> is a matching M such that every vertex in the original graph G is incident to some edge m in M. 
		Take the following example:</p>

<center><img src='https://i.ibb.co/qB3JQYq/perfect-matching.png' width=300 height=250></center>

		<p class='paragraphs'>The graph G is given. The first graph on the right is an edge coloring, and it also includes all vertcies of G. In this 
		sense, it is a perfect matching. It is also a maximal matching since adding in any other edge would no longer result in a matching. The far 
		graph on the right is a matching, but is neither perfect or maxmial.</p>

	</div>

		



<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>