<!DOCTYPE html>
<html>
<html lang="en">


  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
	
    <title>Quadratics Quiz</title>


  </head>



<style>
.title {
  background-color:#1e3f2c;
  color: #018268;
  font-size: 300%;
  text-shadow: 2px 2px 0px #000000;
}

.subtitles {
  background-color:#1e522c;
  color: #018268;
  font-size: 100%;
  text-shadow: 2px 2px 0px #000000;
  padding: 5px;
}
.links {
 background-color: #1e3f2c;
 color: white;
 font-size: 120%;
}

.bigbanner {
 background-image: 
 background-repeat: no-repeat;
 background-color: #1e522c;
 background-position: center;

}
.tables {
 color:#018268;
 background-color: #252828;
 text-shadow: 2px 2px 0px #000000;
 margin: 10px;
}

.questions {
 background-color:#1e522c;
 color: #000000;
 font-size:125%;
}

.graph {
 background-color: #1e522c;

}

.hline { 
width:100%; 
height:5px; 
background: #1e3f2c;
 }

.latex {
  background-color: #ffffff;
  margin: 5px;
  padding: 5px;
    box-shadow: 0px 4px 8px;
}


.ansbutton {
  padding: 5px;
  margin: 20px;
  box-shadow: 0px 8px 15px;
}

.hintbutton {
  background-color:#1e522c;
  padding:10px;
  box-shadow: 0px 10px 18px;
}

.ul { 
display:table; 
margin:0 auto;
}

.lists {
  color: #000000;
  font-size:100%;
  position: absolute;
  right: 0px;
  width: 880px;
  padding: 10px;
}

.foot {
  background-color: #1e522c;
  color: #11112d;
  font-size: 100%
}

table {
  border: 3px solid black;
}

th,tr,td {
  border: 1px solid black;
  padding: 5px;
}


</style>


<body>	

	<div class="title">
		<center>Quadratics Quiz</center>
	</div>

	<div class = subtitles>
	<left><a href='{% url 'app-home' %}'>Return Home</a></left>

	</div>

	<div class="questions">
		<br>
		<center><p>Question 1: What are the roots of the quadratic given by</p></center>
			<div lang="latex" align='center'>
				y = x^{2} -5x +6
			</div>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">-2 and -3</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">2 and 3</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">-5 and 6</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">No roots exist</button>
			
	</div>

	<div id="spoiler1" style="display:none">

		Hint: Factor using the product sum method and solve for when y = 0.

	</div>

	<div class='hintbutton'>

		<button  title="question1" type="button" onclick="if(document.getElementById('spoiler1') .style.display=='none')
     		  {document.getElementById('spoiler1') .style.display=''}else{document.getElementById('spoiler1') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>

	<div class="questions">
		<center><p><br><br>Question 2: What are the coordinates of the vertex for the parabola given by</p></center>
		<div lang="latex" align='center'>
			y = -\frac{3}{2}(x-5)(2x+1)
		</div>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">(5 , -1/2)</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">(-9/4 , 15/2)</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">(5 , 3/2)</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">(9/4 , 15/2)</button>

	</div>

	<div id="spoiler2" style="display:none">

		Hint: Find the mid-point of the two x-intercepts.

	</div>

	<div class='hintbutton'>

		<button title="question2" type="button" onclick="if(document.getElementById('spoiler2') .style.display=='none')
      		 {document.getElementById('spoiler2') .style.display=''}else{document.getElementById('spoiler2') .style.display='none'}">Show Hint</button>
	
	</div>

	<div class='hline'></div>

	<div class="questions">
		<center><p><br><br>Question 3: What is the range of a quadratic function with its vertex located at 
		(-3,17) and a lead coefficient (a-value) of -1?</p></center>

				<br>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				<div lang="latex" align='center'>\{y\epsilon R | y \leq 17 \}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>\{y\epsilon R | y \geq 17 \}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>\{y\epsilon R\}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>\{y\epsilon R | y \leq -3 \}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>\{y\epsilon R | y \geq -3\}</div>
				</button>

	</div>

	<div id="spoiler3" style="display:none">

		Hint: Think of the direction of opening.

	</div>

	<div class='hintbutton'>

		<button title="question3" type="button" onclick="if(document.getElementById('spoiler3') .style.display=='none')
      		 {document.getElementById('spoiler3') .style.display=''}else{document.getElementById('spoiler3') .style.display='none'}">Show Hint</button>
	
	</div>

	<div class='hline'></div>

	<div class="questions">
		<center><p><br><br>Question 4: What is the equation of the parabola pictured below in <i>standard form</i></p></center>

		<div class='graph'>
		<center>
		<iframe src="https://www.desmos.com/calculator/gmeupojjxu?embed" width="500px" height="500px" style="border: 1px solid #ccc" frameborder=0></iframe>
		</center>
		</div>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>y=\frac{1}{3}(x-4)(x+3)</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>y=4x^{2}-3x-4</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				<div lang="latex" align='center'>y=\frac{1}{3}x^{2}-\frac{1}{3}x-4</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>y=-x^{2}-x+12</div>
				</button>

	</div>

	<div id="spoiler4" style="display:none">

		Hint: Try to find the equation in a more suitable form first using the information on the graph

	</div>

	<div class='hintbutton'>

		<button title="question4" type="button" onclick="if(document.getElementById('spoiler4') .style.display=='none')
     		  {document.getElementById('spoiler4') .style.display=''}else{document.getElementById('spoiler4') .style.display='none'}">Show Hint</button>
	
	</div>

	<div class='hline'></div>

	<div class="questions">
		<br>
		<center><p>Question 5: Without factoring or using the quadratic formula, how many real roots are there for the 
		quadratic function given by</p></center>
			<div lang="latex" align='center'>
				y = -7x^{2} + 4x - 8
			</div>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">None</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">One</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">Two</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">Impossible to know</button>
			
	</div>

	<div id="spoiler5" style="display:none">

		Hint: Calculate the value of the discriminant

	</div>

	<div class='hintbutton'>

		<button  title="question5" type="button" onclick="if(document.getElementById('spoiler5') .style.display=='none')
     		  {document.getElementById('spoiler5') .style.display=''}else{document.getElementById('spoiler5') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>

	<div class="questions">
		<br>
		<center><p>Question 6: What is the correct equation for a quadratic function with the following transformations?</p></center>
		   <center><ul class='ul'>
				<li> Reflected about the y-axis</li>
				<li> Vertically compressed by a factor of 1/4 </i>
				<li> Translated 7 units left </li>
				<li> Horizontally compressed by a factor of 1/2 </li>
   		   </ul></center>
				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>y=-\frac{1}{4}[2(x+7)]^{2}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>y=\frac{1}{4}\left[-\frac{1}{2}(x+7)\right]^{2}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>y=\frac{1}{4}(-2x)^{2}-7</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>y=\frac{1}{4}\left[-\frac{1}{2}(x-7)\right]^{2}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				<div lang="latex" align='center'>y=\frac{1}{4}[-2(x+7)]^{2}</div>
				</button>
			
	</div>

	<div id="spoiler6" style="display:none">

		Hint: Remember that horizontal tranformations are not exactly as they appear...

	</div>

	<div class='hintbutton'>

		<button  title="question6" type="button" onclick="if(document.getElementById('spoiler6') .style.display=='none')
     		  {document.getElementById('spoiler6') .style.display=''}else{document.getElementById('spoiler6') .style.display='none'}">Show Hint</button>

	</div>


	<div class='hline'></div>

	<div class="questions">
		<br>
		<center><p>Question 7: A patch of soil that measures 10 metres by 4 metres is to be made into a garden bed. The garden is 
		to have a bricked border of uniform width surronding it. If the total area of the soil and brick is 52 square metres 
		when combined, what should the <i><b>exact</b></i> width of the border be?</p></center>

				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>\frac{7-\sqrt{53}}{2}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				<div lang="latex" align='center'>\frac{-7+\sqrt{53}}{2}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>\frac{-7+\sqrt{37}}{2}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>\frac{-7-\sqrt{37}}{-2}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				This is impossible to construct
				</button>
			
	</div>

	<div id="spoiler7" style="display:none">

		Hint: Try drawing a picture. Then, label it with numbers and variables and attempt to construct an equation

	</div>

	<div class='hintbutton'>

		<button  title="question7" type="button" onclick="if(document.getElementById('spoiler7') .style.display=='none')
     		  {document.getElementById('spoiler7') .style.display=''}else{document.getElementById('spoiler7') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>

	<div class="questions">
		<br>
		<center><p>Question 8: What must the value of <i>k</i> be in the following quadratic function so that it only has 
		one x-intercept?</p></center>
			<div lang="latex" align='center'>
				y = -\frac{2}{3}x^{2} + kx -1
			</div>

				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>\frac{8}{3}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>\frac{2\sqrt{2}}{3}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				<div lang="latex" align='center'>-\frac{2\sqrt{2}}{3}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				<div lang="latex" align='center'>\frac{2\sqrt{2}}{3}\thinspace OR -\frac{2\sqrt{2}}{3}</div>
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				No value of b can make this possible
				</button>
			
	</div>

	<div id="spoiler8" style="display:none">

		Hint: Think of the discriminant

	</div>

	<div class='hintbutton'>

		<button  title="question8" type="button" onclick="if(document.getElementById('spoiler8') .style.display=='none')
     		  {document.getElementById('spoiler8') .style.display=''}else{document.getElementById('spoiler8') .style.display='none'}">Show Hint</button>

	</div>


	<div class='hline'></div>

	<div class="questions">
		<br>
		<center><p>Question 9: A ball is thrown into the air at time t = 0 seconds, and its height h, in metres is modelled by 
		the following equation:</p></center>
			<div lang="latex" align='center'>
				h = -\frac{11}{9}t^{2}+\frac{22}{3}t+1
			</div>
		<center><p>How long does it take for the ball to reach its maximum height?</p></center>

				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				1 second
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				3 seconds
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				6 seconds 
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				12 seconds
				</button>
	</div>

	<div id="spoiler9" style="display:none">

		Hint: Complete the square and look for the t coordinate of the vertex

	</div>

	<div class='hintbutton'>

		<button  title="question9" type="button" onclick="if(document.getElementById('spoiler9') .style.display=='none')
     		  {document.getElementById('spoiler9') .style.display=''}else{document.getElementById('spoiler9') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>

	<div class="questions">
		<br>
		<center><p>Question 10: You are given the following line and parabola:</p></center>
			<div lang="latex" align='center'>
				y = 3x-7, \quad y=x^{2}+2x-9
			</div>
		<center><p>Determine the points of intersection.</center></p>

				<br>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				(-1,-10) and (2,-1)
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				(-2,-13) and (1,-4)
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				(4,5)
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				They do not intersect
				</button>
	</div>

	<div id="spoiler10" style="display:none">

		Hint: Substitution

	</div>

	<div class='hintbutton'>

		<button  title="question10" type="button" onclick="if(document.getElementById('spoiler10') .style.display=='none')
     		  {document.getElementById('spoiler10') .style.display=''}else{document.getElementById('spoiler10') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>

	<div class="questions">
		<br>
		<center><p>Question 11: Last year, a carinval sold tickets at $8 and sold on average 200 tickets per day. This year, they have 
		found that for every 50 cents they increase the price of their tickets, 10 less people will attend the carinval 
		per day, on average. What ticket price should the carnival charge in order to maximize their revenue?</p></center>

				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				6 dollars
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				8 dollars
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				9 dollars
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				10 dollars
				</button>
	</div>

	<div id="spoiler11" style="display:none">

		Hint: Revenue is calculated by using the formula R = (cost per ticket) x (number of tickets sold)

	</div>

	<div class='hintbutton'>

		<button  title="question11" type="button" onclick="if(document.getElementById('spoiler11') .style.display=='none')
     		  {document.getElementById('spoiler11') .style.display=''}else{document.getElementById('spoiler11') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>

	<div class="questions">
		<br>
		<center><p>Question 12: A right angled triangle has sides with length that correspond to three consecutive even integers. What is the 
		area of this triangle?</p></center>

				<br>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				24
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				40 
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				48
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				64
				</button>
	</div>

	<div id="spoiler12" style="display:none">

		Hint: What formula applies to right angled triangles?

	</div>

	<div class='hintbutton'>

		<button  title="question12" type="button" onclick="if(document.getElementById('spoiler12') .style.display=='none')
     		  {document.getElementById('spoiler12') .style.display=''}else{document.getElementById('spoiler12') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>

	<div class="questions">
		<br>
		<center><p>Question 13: A farmer is constructing a fenced off area for his cattle and has a 750 metres of fencing to 
		work with. He also plans to use the nearby river as a border so the cows might have somewhere to drink from. What is 
		the maximum area that the farmer can construct for his cattle?</p></center>

				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				35 156 square metres
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				37 500 square metres
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				50 257 square metres
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				70 313 square metres
				</button>
	</div>

	<div id="spoiler13" style="display:none">

		Hint: Fencing will not be used for one of the boundaries of the area

	</div>

	<div class='hintbutton'>

		<button  title="question13" type="button" onclick="if(document.getElementById('spoiler13') .style.display=='none')
     		  {document.getElementById('spoiler13') .style.display=''}else{document.getElementById('spoiler13') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>

	<div class="questions">
		<br>
		<center><p>Question 14: You are given the equation of a circle and a line:</p></center>
			<div lang="latex" align='center'>
				x^{2} + y^{2} = 16, \quad y = -x + C
			</div>
		<center><p>What must the value of C be in order for the line to be <i>tangent</i> to the circle?</p></center>

				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				-2
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				2
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				-2 or 2
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				-4 or 4
				</button>
	</div>

	<div id="spoiler14" style="display:none">

		Hint: To be tangent means that the line intersects the circle at exactly one point

	</div>

	<div class='hintbutton'>

		<button  title="question14" type="button" onclick="if(document.getElementById('spoiler14') .style.display=='none')
     		  {document.getElementById('spoiler14') .style.display=''}else{document.getElementById('spoiler14') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>

	<div class="questions">
		<br>
		<center><p>Question 15: The sum of the square of a positive number and the square of a number that is 7 more is 
		1225. What is the product of these two numbers?</p></center>

				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				315
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				480
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				588
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				631
				</button>
	</div>

	<div id="spoiler15" style="display:none">

		Hint: Try to make a quadratic equation of the information you are given

	</div>

	<div class='hintbutton'>

		<button  title="question15" type="button" onclick="if(document.getElementById('spoiler15') .style.display=='none')
     		  {document.getElementById('spoiler15') .style.display=''}else{document.getElementById('spoiler15') .style.display='none'}">Show Hint</button>

	</div>

	<div class='hline'></div>

	<div class="questions">
		<br>
		<center><p>Question 16: A tech company is selling LCD monitors and finds that their profits, P, in hundreds of thousands 
		of dollars per year, can be modelled by the quadratic function given by:</p></center>

			<div lang="latex" align='center'>
				P(n) = -\frac{75}{16}(n-8)^{2} + 75
			</div>
		<center><p>Where n is the number of monitors sold, in thousands, per year. For what range of monitors sold will the 
		company make a profit for the year?</p></center>

				<br>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				n < 4 or n > 12
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				n = 8
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				n > 4
				</button>
				<button class='ansbutton' type="button" onclick="alert('Correct!')">
				4 < n < 12
				</button>
				<button class='ansbutton' type="button" onclick="alert('Incorrect')">
				n < 12
				</button>
	</div>

	<div id="spoiler16" style="display:none">

		Hint: What does break even represent on this graph?

	</div>

	<div class='hintbutton'>

		<button  title="question16" type="button" onclick="if(document.getElementById('spoiler16') .style.display=='none')
     		  {document.getElementById('spoiler16') .style.display=''}else{document.getElementById('spoiler16') .style.display='none'}">Show Hint</button>

	</div>




<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>

</script>

</body>

</html>