<!DOCTYPE html>
<html>
<html lang="en">


  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
	
    <title>Trigonometric Proofs Quiz</title>


  </head>



<style>
.title {
  background-color:#1e3f2c;
  color: #018268;
  font-size: 300%;
  text-shadow: 2px 2px 0px #000000;
}

.subtitles {
  background-color:#1e522c;
  color: #018268;
  font-size: 200%;
  text-shadow: 2px 2px 0px #000000;
  margin:20px;
}
.links {
 background-color: #1e522c;
 color: white;
 font-size: 120%;
}

.banner {
  height: 100vh;
  background-color: #1e522c;
}

.bigbanner {
 background-image: 
 background-repeat: no-repeat;
 background-color: #1e522c;
 background-position: center;
 height: 100vh;

}
.tables {
 color:#018268;
 background-color: #252828;
 text-shadow: 2px 2px 0px #000000;
 margin: 10px;
}

.paragraphs {
 color: #ffffff;
 font-size:100%;
 margin: 5px;
 padding: 5px;
}

.paragraphs2 {
 color: #000000;
 background-color: #1e522c;
 font-size: 100%;
 padding: 5px;
}

.loggedin {
  color: #ff9600;
}

.questions {
 background-color:#1e522c;
 color: #ffffff;
 font-size:125%;
}


.lists {
  color: #ffffff;
  font-size:100%;
  position: center;
}

.foot {
  background-color: #1e522c;
  color: #11112d;
  font-size: 100%
}

table {
  border: 3px solid black;
}

th,tr,td {
  border: 1px solid black;
  padding: 5px;
}

.dropbutton {
  background-color: #1e522c;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #1e522c;
  min-width: 160px;
  box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-bottom: 5px solid #000000;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

.createfunction {
  fontsize: 400%;
  color: #ff9600;
  padding: 5px;
  margin: 20px;
}

.latex {
  background-color: #ffffff;
  margin: 30px;
  padding: 5px;
  box-shadow: 0px 4px 8px #000000;
}

.hline { 
width:100%; 
height:5px; 
background: #1e3f2c;
 }

</style>


<body style="background-color:#1e522c">

	<div class="title">
		<center>Trigonometric Proofs Quiz</center>
	</div>

	<div class='subtitles' style='font-size:100%;'>
		<div class='dropdown'>
			<button class='dropbutton'>Navigate</button>
				<div class='dropdowncontent'>
					<center><a class='links' href='{% url 'app-home' %}'>Return Home</a><center>
						<br>
					<center><a class='links' href='{% url 'forum' %}'>Go to Forum</a></center>
				</div>
		</div>
	</div>





	<div class="questions">


	<p class='paragraphs'>In this section, you will find a variety of questions that are statements of trigonometric identities. Your goal 
	is to prove that each identity is true. If you need help, you can either go to the forums and try and post your solution there, or you 
	can click the Show Solution button at the bottom of each question. Note however, that the solution shown is only one possible way to 
	prove the identity. For example, you may wish to prove the identity using the other side of the equation.</p>


<br>



		<center><p>Question 1:</p></center>
			<div lang="latex" align='center'>
				\tan{x}\sin{x}+\cos{x}=\sec{x}
			</div>

	<div id="spoiler1" style="display:none">
		<div lang="latex">
		\tan{x}\sin{x}+\cos{x} \\ \\
		= \frac{ \sin{x} }{ \cos{x} }\sin{x}+\cos{x} \\ \\
		= \frac{ \sin{^{2}x} }{ \cos{x} } + \frac{ \cos{x} }{1} \\ \\
		= \frac{ \sin{^{2}x} }{ \cos{x} } + \frac{ \cos{^{2}x} }{\cos{x}} \\ \\
		= \frac{ \sin{^{2}x} + \cos{^{2}x} }{\cos{x}}  \\ \\
		= \frac{ 1 }{ \cos{x}} \\ \\
		= \sec{x} \\ \\
		</div>

	</div>

	<div class='hintbutton'>

		<button  title="question1" type="button" onclick="if(document.getElementById('spoiler1') .style.display=='none')
     		  {document.getElementById('spoiler1') .style.display=''}else{document.getElementById('spoiler1') .style.display='none'}">Show Solution</button>

	</div>

	<div class='hline'></div>
	</div>





	<div class="questions">
		<center><p>Question 2:</p></center>
			<div lang="latex" align='center'>
				\tan{x} + \cot{x} = \sec{x}\csc{x}
			</div>

	<div id="spoiler2" style="display:none">
		<div lang="latex">
			\tan{x} + \cot{x} \\ \\
			=\frac{ \sin{x} }{ \cos{x} } + \frac{ \cos{x} }{ \sin{x} } \\ \\
			=\frac{ \sin{^{2}x} }{ \cos{x}\sin{x} } + \frac{ \cos{^{2}x} }{ \cos{x}\sin{x} } \\ \\
			=\frac{ \sin{^{2}x} + \cos{^{2}x} }{ \cos{x}\sin{x} } \\ \\
			=\frac{ 1 }{ \cos{x}\sin{x} } \\ \\
			=\frac{ 1 }{ \cos{x} } \frac{ 1 }{ \sin{x} } \\ \\
			= \sec{x}\csc{x} \\ \\
		</div>

	</div>

	<div class='hintbutton'>

		<button  title="question2" type="button" onclick="if(document.getElementById('spoiler2') .style.display=='none')
     		  {document.getElementById('spoiler2') .style.display=''}else{document.getElementById('spoiler2') .style.display='none'}">Show Solution</button>

	</div>

<div class='hline'></div>
	</div>





	<div class="questions">
		<center><p>Question 3:</p></center>
			<div lang="latex" align='center'>
				\sin{x} - \sin{x}\cos{^{2}x} = \sin{^{3}x}
			</div>

	<div id="spoiler3" style="display:none">
		<div lang="latex">
			\sin{x} - \sin{x}\cos{^{2}x} \\ \\
			= \sin{x} (1 - \cos{^{2}x}) \\ \\
			= \sin{x} \sin{^{2}x} \\ \\
			= \sin{^{3}x} \\
		</div>

	</div>

	<div class='hintbutton'>

		<button  title="question3" type="button" onclick="if(document.getElementById('spoiler3') .style.display=='none')
     		  {document.getElementById('spoiler3') .style.display=''}else{document.getElementById('spoiler3') .style.display='none'}">Show Solution</button>

	</div>

<div class='hline'></div>
	</div>





	<div class="questions">
		<center><p>Question 4:</p></center>
			<div lang="latex" align='center'>
				\cos{^{2}x} = \frac{ \csc{x}\cos{x} }{ \tan{x} + \cot{x} }
			</div>

	<div id="spoiler4" style="display:none">
		<div lang="latex">
			\frac{ \csc{x}\cos{x} }{ \tan{x} + \cot{x} } \\ \\ \\ 
			= \frac{ \frac{ 1 }{ \sin{x} } \frac{ \cos{x} }{ 1 } }{ \frac{ \sin{x} }{ \cos{x} } + \frac{ \cos{x} }{ \sin{x} } } \\ \\ \\ 
			= \frac{ \frac{ \cos{x} }{ \sin{x} } }{ \frac{ \sin{^{2}x} }{ \cos{x}\sin{x} } + \frac{ \cos{^{2}x} }{ \cos{x}\sin{x} } } \\ \\ \\ 
			= \frac{  \frac{ \cos{x} }{ \sin{x} } }{ \frac{ \sin{^{2}x} + \cos{^{2}x} }{ \cos{x}\sin{x} } } \\ \\ \\ 
			= \frac{   \frac{ \cos{x} }{ \sin{x} } }{ \frac{ 1 }{  \cos{x}\sin{x} } } \\ \\ \\ 
			= \frac{ \cos{x} }{ \sin{x} } \frac{ \cos{x}\sin{x} }{ 1 } \\ \\ \\
			= \cos{^{2}x}

		</div>

	</div>

	<div class='hintbutton'>

		<button  title="question4" type="button" onclick="if(document.getElementById('spoiler4') .style.display=='none')
     		  {document.getElementById('spoiler4') .style.display=''}else{document.getElementById('spoiler4') .style.display='none'}">Show Solution</button>

	</div>

<div class='hline'></div>
	</div>




	<div class="questions">
		<center><p>Question 5:</p></center>
			<div lang="latex" align='center'>
				\frac{ 1 - \sin{x} }{ \cos{x} } = \frac{ \cos{x} }{ 1 + \sin{x} }
			</div>

	<div id="spoiler5" style="display:none">
		<div lang="latex">
			\frac{ 1 - \sin{x} }{ \cos{x} } \\ \\ \\
			= \frac{ 1 - \sin{x} }{ \cos{x} } \frac{ 1 + \sin{x} }{ 1 + \sin{x} } \\ \\ \\
			= \frac{ (1 - \sin{x})(1 + \sin{x}) }{ \cos{x}(1 + \sin{x}) } \\ \\ \\
			= \frac{ 1 - \sin{x} + \sin{x} - \sin{^{2}x} }{ \cos{x}(1 + \sin{x}) } \\ \\ \\
			= \frac{ 1 - \sin{^{2}x} }{  \cos{x}(1 + \sin{x}) } \\ \\ \\
			= \frac{ \cos{^{2}x} }{ \cos{x}(1 + \sin{x}) } \\ \\ \\
			= \frac{ \cos{x} }{ 1 + \sin{x} } \\ \\ \\
		</div>

	</div>

	<div class='hintbutton'>

		<button  title="question5" type="button" onclick="if(document.getElementById('spoiler5') .style.display=='none')
     		  {document.getElementById('spoiler5') .style.display=''}else{document.getElementById('spoiler5') .style.display='none'}">Show Solution</button>

	</div>
<div class='hline'></div>
	</div>





	<div class="questions">
		<center><p>Question 6:</p></center>
			<div lang="latex" align='center'>
				
				\frac{ \sin{^{4}x} - \cos{^{4}x} }{ \sin{^{2}x} - \cos{^{2}x} } = 1

			</div>

	<div id="spoiler6" style="display:none">
		<div lang="latex">

			\frac{ \sin{^{4}x} - \cos{^{4}x} }{ \sin{^{2}x} - \cos{^{2}x} } \\ \\
			= \frac{ (\sin{^{2}x} + \cos{^{2}x})(\sin{^{2}x} - \cos{^{2}x}) }{ \sin{^{2}x} - \cos{^{2}x} } \\ \\
			= \frac{ (1)(\sin{^{2}x} - \cos{^{2}x}) }{ \sin{^{2}x} - \cos{^{2}x} } \\ \\
			= 1 \\ \\

		</div>

	</div>

	<div class='hintbutton'>

		<button  title="question6" type="button" onclick="if(document.getElementById('spoiler6') .style.display=='none')
     		  {document.getElementById('spoiler6') .style.display=''}else{document.getElementById('spoiler6') .style.display='none'}">Show Solution</button>

	</div>
<div class='hline'></div>
	</div>





	<div class="questions">
		<center><p>Question 7:</p></center>
			<div lang="latex" align='center'>
				
				\frac{ \sec{x} - 1 }{ \sec{x} + 1 } = \frac{ 1 - \cos{x} }{ 1 + \cos{x} }

			</div>

	<div id="spoiler7" style="display:none">
		<div lang="latex">

			\frac{ 1 - \cos{x} }{ 1 + \cos{x} } \\ \\ \\
			= \frac{ 1 - \cos{x} }{ 1 + \cos{x} } \frac{ \frac{ 1 }{ \cos{x} } }{ \frac{ 1 }{ \cos{x} } } \\ \\ \\
			= \frac{ (1 - \cos{x})\frac{ 1 }{ \cos{x} } }{ (1 + \cos{x})\frac{ 1 }{ \cos{x} } } \\ \\ \\
			= \frac{ \frac{ 1 }{ \cos{x} } - 1 }{ \frac{ 1 }{ \cos{x} } + 1 } \\ \\ \\
			= \frac{ \sec{x} - 1 }{ \sec{x} + 1 } \\ \\ \\

		</div>

	</div>

	<div class='hintbutton'>

		<button  title="question7" type="button" onclick="if(document.getElementById('spoiler7') .style.display=='none')
     		  {document.getElementById('spoiler7') .style.display=''}else{document.getElementById('spoiler7') .style.display='none'}">Show Solution</button>

	</div>
	<div class='hline'></div>
	</div>





	<div class="questions">
		<center><p>Question 8:</p></center>
			<div lang="latex" align='center'>
				
				\frac{ 1 + \sin{x} }{ 1 - \sin{x} } - \frac{ 1 - \sin{x} }{ 1 + \sin{x} } = 4\tan{x}\sec{x}

			</div>

	<div id="spoiler8" style="display:none">
		<div lang="latex">

			\frac{ 1 + \sin{x} }{ 1 - \sin{x} } - \frac{ 1 - \sin{x} }{ 1 + \sin{x} } \\ \\ \\
			= \frac{ (1 + \sin{x})(1 + \sin{x}) }{ (1 - \sin{x})(1 + \sin{x}) } - \frac{ (1 - \sin{x})(1 - \sin{x}) }{ (1 + \sin{x})(1 - \sin{x}) } \\ \\ \\
			=  \frac{ 1 + 2\sin{x} + \sin{^{2}x} }{ (1 - \sin{x})(1 + \sin{x}) } - \frac{ 1 - 2\sin{x} + \sin{^{2}x} }{ (1 - \sin{x})(1 + \sin{x}) } \\ \\ \\
			= \frac{ 4\sin{x} }{ 1 -\sin{x} + \sin{x} - \sin{^{2}x} } \\ \\ \\
			= \frac{ 4\sin{x} }{ 1 - \sin{^{2}x} } \\ \\ \\
			= \frac{ 4\sin{x} }{ \cos{^{2}x} } \\ \\ \\
			= \frac{ 4\sin{x} }{ \cos{x}\cos{x} } \\ \\ \\
			= \frac{ 4\sin{x} }{ \cos{x} }\frac{ 1 }{ \cos{x} } \\ \\ \\
			= 4\tan{x}\sec{x} \\ \\ \\

		</div>

	</div>

	<div class='hintbutton'>

		<button  title="question8" type="button" onclick="if(document.getElementById('spoiler8') .style.display=='none')
     		  {document.getElementById('spoiler8') .style.display=''}else{document.getElementById('spoiler8') .style.display='none'}">Show Solution</button>

	</div>
	<div class='hline'></div>
	</div>




	<div class="questions">
		<center><p>Question 9:</p></center>
			<div lang="latex" align='center'>
				
				\sin{x}(\cot{x} + \tan{x}) = \sec{x}

			</div>

	<div id="spoiler9" style="display:none">
		<div lang="latex">

			\sin{x}(\cot{x} + \tan{x}) \\ \\ \\ 
			= \sin{x} \left( \frac{ \cos{x} }{ \sin{x} } + \frac{ \sin{x} }{ \cos{x} } \right) \\ \\ \\
			= \cos{x} + \frac{ \sin{^{2}x} }{ \cos{x} } \\ \\ \\
			= \frac{ \cos{^{2}x} }{ \cos{x} } + \frac{ \sin{^{2}x} }{ \cos{x} }\\ \\ \\
			= \frac{ \cos{^{2}x} + \sin{^{2}x} }{ \cos{x} }\\ \\ \\
			= \frac{ 1 }{ \cos{x} }\\ \\ \\ 
			= \sec{x}

		</div>

	</div>

	<div class='hintbutton'>

		<button  title="question9" type="button" onclick="if(document.getElementById('spoiler9') .style.display=='none')
     		  {document.getElementById('spoiler9') .style.display=''}else{document.getElementById('spoiler9') .style.display='none'}">Show Solution</button>

	</div>





<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>

</script>

</body>

</html>